<!--@subject Gift card usage notification  @-->
<!--@vars {
"var this.getUrl($store, 'admin')":"Warehouse Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->
 
{{template config_path="design/email/header_template"}} <!-- pathe of template header-->
<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Hi %customer_name," customer_name=$myvar3}}</p>
            <p>
                {{trans "Your Gift Card Usage Details:"}}
                <!--{{trans 'Name <a href="%account_url">logging into your account</a>.' account_url=$this.getUrl($store,'admin',[_nosid:1]) |raw}}
                {{trans 'Name <a href="%account_url">logging into your account</a>.' account_url=$this.getUrl($store,'admin',[_nosid:1]) |raw}}-->
            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h1>{{trans 'Name <span class="no-link">#%name</span>' name=$myvar3 |raw}}</h1>
            <p>{{trans 'Email <span class="no-link">#%email</span>' email=$myvar2 |raw}}</p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <table class="order-details">
                <tr>
                    <td class="address-details">
                        <h3>{{trans "Gift Card Code:"}}</h3>
                        <p>{{var myvar6|raw}}</p>
                        <h3>{{trans "Previous Amount:"}}</h3>
                        <p>{{trans "%symbol %price" symbol=$myvar8 price=$myvar5}}</p>
                        <h3>{{trans "Reduced Amount:"}}</h3>
                        <p>{{trans "%symbol %price" symbol=$myvar8 price=$myvar4}}</p>
                        <h3>{{trans "Remaining Amount:"}}</h3>
                        <p>{{trans "%symbol %price" symbol=$myvar8 price=$myvar7}}</p>
                    </td>
                </tr>
            </table>
            <!--<table class="email-items">
                <thead>
                    <tr>
                        <th class="item-info">{{trans "Item"}}</th>
                        <th class="item-info">{{trans "Sku"}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{var myvar8|raw}}
                </tbody>
            </table>-->
        </td>
    </tr>
</table>
 
{{template config_path="design/email/footer_template"}} <!--footer of template-->