<!--@subject Gift Card  @-->
<!--@vars {
"var this.getUrl($store, 'admin')":"Warehouse Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->
 
{{template config_path="design/email/header_template"}} <!-- pathe of template header-->
 
<!-- here $myvar1 , $myvar2, $myvar3, $myvar4, $myvar5, $myvar6 are variables in which we
                                     asssign values when we use this template for send mail-->
 
<!-- you can Modify content of template according to your requirement-->
<table>
    <tr class="email-intro">
        <td>
                        <!--<p class="greeting">{{trans "%customer_name," customer_name=$myvar3}}</p>-->
            <p class="greeting">{{trans "Hi %customer_email," customer_email=$data.customer_email}}</p>
            <p>
                {{trans "A Gift Card gifted to you by"}}
                <!--{{trans 'Name <a href="%account_url">logging into your account</a>.' account_url=$this.getUrl($store,'admin',[_nosid:1]) |raw}}
                {{trans 'Name <a href="%account_url">logging into your account</a>.' account_url=$this.getUrl($store,'admin',[_nosid:1]) |raw}}-->
            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h1>{{trans 'Email:- <span class="no-link">%email</span>' email=$data.email |raw}}</h1>
            <!--<p>{{trans 'Email <span class="no-link">#%email</span>' email=$myvar4 |raw}}</p>-->
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <table class="order-details">
                <tr>
                    <td class="address-details">
                        <h3>{{trans "Gift Card Code:"}}</h3>
                        <p>{{trans "%code" code=$data.code}}</p>
                        <h3>{{trans "Description:"}}</h3>
                        <p>{{trans "%description" description=$data.description}}</p>
                        <h3>{{trans "Price: (Rs.)"}}</h3>
                        <p>{{trans "%price" price=$data.price}}</p>
                    </td>
                </tr>
            </table>
            <!--<table class="email-items">
                <thead>
                    <tr>
                        <th class="item-info">{{trans "Item"}}</th>
                        <th class="item-info">{{trans "Sku"}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{var myvar8|raw}}
                </tbody>
            </table>-->
        </td>
    </tr>
</table>
 
{{template config_path="design/email/footer_template"}} <!--footer of template-->