<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="personalizejewellery" frontName="personalizejewellery">
            <module name="Magegadgets_Personalizejewellery" />
        </route>
    </router>
</config>