<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mage2_developer" translate="label" sortOrder="0">
        <label>Mage2 Developer</label>
        </tab>
        <section id="mage2_product_inquiry_section" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Product Inquiry</label>
            <tab>mage2_developer</tab>
            <resource>Mage2_Inquiry::mage2_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Options</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="senderemail" translate="label" type="text" sortOrder="2" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Sender Email</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <validate>validate-email</validate>
                    <comment><![CDATA[Default it will take contacts email addreess.]]></comment>
                </field>
                <field id="sendername" translate="label" type="text" sortOrder="3" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Sender Name</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment><![CDATA[Default it will take contacts sender name.]]></comment>
                </field>
                <field id="questionenabled" translate="label" type="select" sortOrder="4" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Question Display</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Questions & answer will diplay above inquiry form.]]></comment>
                </field>
                <field id="questioncount" translate="label" type="text" sortOrder="5" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Number of question</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <validate>validate-number</validate>
                    <comment><![CDATA[Default it will disaply last 5 question.]]></comment>
                </field>
                <field id="sendemailtoadmin" translate="label" type="select" sortOrder="6" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Send Email To Admin</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>        
</config>