<?xml version="1.0"?>
<!-- /**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_StoreOptimization
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
        
    <preference for="\Magento\Catalog\Block\Product\ImageFactory" type="Webkul\StoreOptimization\Block\Rewrite\Product\ImageFactory" />

    <preference for="\Magento\Catalog\Model\Product\Image" type="Webkul\StoreOptimization\Model\Product\Image" />

    <preference for="\Magento\Catalog\Model\View\Asset\Image" type="Webkul\StoreOptimization\Model\View\Asset\Image" />

    <preference for="Magento\Catalog\Block\Product\View\Gallery" type="Webkul\StoreOptimization\Block\Rewrite\Product\View\Gallery" />

    <type name="Magento\Catalog\Block\Product\Image">
        <plugin name="webkul_responsive_pixel_ratio" type="Webkul\StoreOptimization\Plugin\Catalog\Block\Product\ImageResponsiveRatio"/>
        <!-- <plugin name="product-image-lazy-loading" type="Webkul\StoreOptimization\Plugin\Catalog\Block\Product\Image" sortOrder="1"/> -->
    </type>

</config>