<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Mirasvit_SeoAudit::seoaudit" title="Mirasvit SeoAudit" sortOrder="71">
                        <resource id="Mirasvit_SeoAudit::seoaudit_job" title="Audit Jobs">
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
