<?xml version="1.0"?>
<!--
/**
 * @package     Plumrocket_LayeredNavigationLite
 * @copyright   Copyright (c) 2022 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_prproductfilter">
        <observer name="prproductfilter_save_after" instance="Plumrocket\LayeredNavigationLite\Observer\SaveAttributes" />
    </event>
</config>
