<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_GiftCard
 * @author    Webkul Software Private Limited 
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Webkul_GiftCard::giftcard" title="Vaibhav Gift Card" module="Webkul_GiftCard" sortOrder="10" resource="Webkul_GiftCard::giftcard" />        
        <add id="Webkul_GiftCard::giftcarddetails" title="Vaibhav Gift Card Details" module="Webkul_GiftCard" sortOrder="50" parent="Webkul_GiftCard::giftcard" action="giftcard/giftuser/index" resource="Webkul_GiftCard::giftcarddetails" />
	</menu>
</config>