<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_GiftCard
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="webkul" translate="label" sortOrder="10">
			<label>Vaibhav</label>
		</tab>
		<section id="giftcard" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>GiftCard</label>
			<!-- Assign section to tab -->
			<tab>webkul</tab>
			<resource>Webkul_GiftCard::config</resource>
			<group id="emaill" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>GiftCard Email Setting</label>
				<!--<label>GiftCard Transactional Emails</label>-->
				<field id="gift_admin_mail_name" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Name of Admin in Mail</label>
				</field>
				<field id="gift_admin_mail_email" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Email of Admin in Mail</label>
				</field>
				<field id="gift_notification_mail" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Gift Notification Template</label>
					<source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
					<!-- This model return all transactional email template list of magento -->
				</field>
			</group>
			<group id="email2" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>GiftCard Left Amount Email Setting</label>
				<field id="admin_amt_notification_mail" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Admin Left Amount Notification Template</label>
					<source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
					<!-- This model return all transactional email template list of magento -->
				</field>
			</group>
		</section>
	</system>
</config>