<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sparshadvancedsorting>
            <general>
                <enabled>1</enabled>
                <selectsort>best_seller,top_rated,created_at,most_viewed,review_count,price_low_high,price_high_low,latest,oldest</selectsort>
            </general>
        </sparshadvancedsorting>
    </default>
</config>
