/* Category Page Styles */

 .page-main {
     max-width: 100% !important;
     padding-left: 0px !important;
     padding-right: 0px !important;
}
 .page-products .columns, .page-layout-1column.page-with-filter .column.main {
     width:100% !important;
}
 .toolbar-products .pages {
     display:block !important;
}
 .page-layout-1column .toolbar-products {
     bottom: 0 !important;
}
 .category-page-footer .toolbar-sorter {
     display: none !important;
}
 .category-page-header .pagination {
     display: none;
}
 .toolbar-sorter li {
     margin-bottom: 0px !important;
}
 .page-title {
     font-size: 20px !important;
     font-weight: 600 !important;
     margin-bottom: 10px !important;
}
 .main .wrapper {
     padding: 0rem 3.5rem;
}
 .page-layout-1column.page-with-filter .column.main {
     padding-top: 15px !important 
}
 .filter-content a, .filter-content a:visited, .filter-content a:hover {
     color: #000 !important;
}
.filter-content .price {
     float: none;
}
 .product-reviews-summary .reviews-actions {
     display: none;
}
 .catalog-category-view .ln_slider_container {
     width: calc(90%);
     margin: 10px auto;
     padding: 0px 0px 0px;
     position: relative;
}
 .catalog-category-view .ui-slider-horizontal {
     background: #6d2081;
     height: 8px;
}
 .catalog-category-view #ln_slider_text_price {
     margin-top: 15px;
     color:#6f2d91;
}
 .catalog-category-view #ln_slider_price .ui-slider-handle {
     background: #fff;
     border: 1px solid #ccc;
     padding: 0;
     border-radius: 30px;
     width: 15px;
     height: 15px;
     top: -3px;
     display: block;
     position: absolute;
}
 .ui-slider-horizontal .ui-slider-handle {
     margin-left:-5px 
}
 .ui-slider .ui-slider-handle {
     position:absolute;
     z-index:2;
     cursor:default 
}
 .ui-slider-horizontal {
     height:10px;
     -webkit-border-radius:10px;
     border-radius:10px;
     border:none;
     background:#dadada 
}
 .ui-slider-handle {
     height:10px;
     width:10px;
     -webkit-border-radius:10px;
     border-radius:10px;
     background:#f98b25;
     display:block;
     position:absolute 
}
 .page-layout-1column .filter-content {
     margin-top: 0px !important;
}

 .breadcrumbs .items > li {
     font-size: 11px !important;
}
 .breadcrumbs .item:not(:last-child)::after {
     vertical-align: middle;
     line-height: 10px;
     margin: 0 5px;
}
.breadcrumbs {
    margin: 0 0 5px !important;
}
.bread-crumbs {
    margin-bottom: 0px !important; 
}
 .catalog-category-view #maincontent .sidebar .mts-category-list-custom .filter-items > ul.o-list,
 .catalogsearch-result-index #maincontent .sidebar .mts-category-list-custom .filter-items > ul.o-list {
     height: auto;
}
 .catalog-category-view #maincontent .sidebar .mts-category-list-custom .filter-items > ul.o-list,
 .catalogsearch-result-index #maincontent .sidebar .mts-category-list-custom .filter-items > ul.o-list {
     display: block;
     padding: 15px 15px 0px 15px;
}
 
 .catalog-category-view .sidebar .o-list li,
 .catalogsearch-result-index .sidebar .o-list li {
  list-style: none;
border-bottom: none;
padding-bottom: 0px;
 }

 .catalog-category-view .sidebar .expand i, .catalog-category-view .sidebar .expanded i,
 .catalogsearch-result-index .sidebar .expand i, .catalog-category-view .sidebar .expanded i {
  color:#6d2080;
 }

 .products:hover
{
    overflow: initial;
    box-shadow: 0 8px 20px #dedede;
}
.product-name {
     border-top: 1px solid #ccc;
    font-size: 14px;
    padding: 5px;
    color: grey;
}

.text-left{
     background-color: #eee;

}

.products .text-left {
    /*height: 73px;*/
}


.rating-summary .rating-result{
    display: block !important;
}

.product-reviews-summary .rating-summary{
    float: left;
}

.sorting.toolbar-sorter {
    font-size: 13px;
}

.vaibhav_product_list .flex {
justify-content: initial!important;
}
.products {
margin-left: 2%;
}


    .similar_product_list {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}
.viewed_ {
    overflow-x: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 3;
}
.similar_product_title {
    display: block;
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    text-decoration: underline;
}
.similar_popup_close_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    font-size: 15px;
    line-height: 27px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.tcb-product-slider .carousel-control {
  width: 5%;
}
.tcb-product-slider {
    width: 90%;
    margin: 0 auto 30px auto;
}

@media (min-width: 768px) {
    .page-products .columns {
    padding-top: 0;
    position: relative;
    z-index: 5;
}
}

.tcb-product-item a {
  color: gray;
}
.tcb-product-item a:hover {
  text-decoration: none;
}
.tcb-product-item .tcb-hline {
  margin: 10px 0;
  height: 1px;
  background: #ccc;
}
@media all and (max-width: 768px) {
  .tcb-product-item {
    margin-bottom: 30px;
  }
}
.e-left {
  position: absolute;
  left: -30px;
}
.e-right {
  position: absolute;
  right: -30px;
}
.slick-arrow {
  background-color: transparent;
}
.tcb-product-photo {
  text-align: center;
  background: #fff;
   padding: 5px;
    border: 1px solid #dcdcdc;
    display: block;
}
.similar_product_list .product-name {
    font-size: 14px;
    padding: 5px;
    color: grey;
    border-top: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.tcb-product-photo img {
  width: 100%;
  display: inline-block;
}
.tcb-product-info {
  background: #f0f0f0;
  padding: 15px;
}
.carousel-control.left {
  background-image: none;
}
.carousel-control.right {
  background-image: none;
}
.tcb-product-title h4 {
  margin-top: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tcb-product-rating {
  color: #acacac;
}
.tcb-product-rating .active {
  color: #FFB500;
}
.tcb-product-price {
 font-size: 12px !important;
color: #808080;
font-weight: 800 !important;
}
.slick-slide {
  margin-bottom: 15px !important;
  margin-top: 5px !important;
}

.loader_section {
  display: none;
    align-items: center;
    height: 300px;
    justify-content: center;
}

@keyframes ldio-bdvd362dqmv-o {
    0%    { opacity: 1; transform: translate(0 0) }
   49.99% { opacity: 1; transform: translate(43.2px,0) }
   50%    { opacity: 0; transform: translate(43.2px,0) }
  100%    { opacity: 0; transform: translate(0,0) }
}
@keyframes ldio-bdvd362dqmv {
    0% { transform: translate(0,0) }
   50% { transform: translate(43.2px,0) }
  100% { transform: translate(0,0) }
}
.ldio-bdvd362dqmv div {
  position: absolute;
  width: 43.2px;
  height: 43.2px;
  border-radius: 50%;
  top: 32.400000000000006px;
  left: 10.8px;
}
.ldio-bdvd362dqmv div:nth-child(1) {
  background: #6e2083;
  animation: ldio-bdvd362dqmv 1s linear infinite;
  animation-delay: -0.5s;
}
.ldio-bdvd362dqmv div:nth-child(2) {
  background: #fcba66;
  animation: ldio-bdvd362dqmv 1s linear infinite;
  animation-delay: 0s;
}
.ldio-bdvd362dqmv div:nth-child(3) {
  background: #6e2083;
  animation: ldio-bdvd362dqmv-o 1s linear infinite;
  animation-delay: -0.5s;
}
.loadingio-spinner-dual-ball-qh0gwzg30jb {
  width: 108px;
  height: 108px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-bdvd362dqmv {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-bdvd362dqmv div { box-sizing: content-box; }

    .t-product-img {
        background-size:cover !important;
    }
      .multi_color_options {
    display: inline-block;
    position: relative;
    margin-left: 8px;
    cursor: pointer;
}

.list_icon {
    width: 25px;
    height: 24px;
    display: block;
    position: relative;
    z-index: 2;
}
.colorBlock {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 25px;
    right: 0;
    bottom: 0;
    min-height: 0;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}
.colorBlock a {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}
.product_other_icons .multi_color_options:hover .colorBlock {
    height: auto;
    bottom: 25px;
    opacity: 1;
    visibility: visible;
}
.product_other_icons .multi_color_options:hover .colorBlock a {
    opacity: 1;
    visibility: visible;
}
.colorShade {
    width: 23px;
    height: 23px;
    display: block;
    right: 0px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 50%;
}
.yellow_gold_ {
    background-color: #ffdd7d;
    opacity: 0;
    visibility: hidden;
    transform: translateY(77px);
    transition: all 0.6s ease-in-out;
}
.product_other_icons .multi_color_options:hover .yellow_gold_ {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
.white_gold {
    opacity: 0;
    visibility: hidden;
    background-color: #d6d6d6;
    transform: translateY(42px);
    transition: all 0.4s ease-in-out;
}
.product_other_icons .multi_color_options:hover .white_gold {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
.rose_gold_ {
    opacity: 0;
    visibility: hidden;
    background-color: #f4bd9e;
    transform: translateY(9px);
    transition: all 0.8s ease-in-out;
}
.product_other_icons .multi_color_options:hover .rose_gold_ {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
