  /*you'love it slider*/
  .desktop-section #slider .container-fluid{
        margin-top: unset !important;
    }   
    #you_also_love{
        display: none;
    }
  /*you'love it slider*/

.contact-sub-btn{
    background-color: #6e2083;
    text-align: left;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: normal;
    width: auto;
    letter-spacing: 1px;
}
.policyslider .em-banners-item .menuss {
    color: #000;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}
.policyslider .em-banners-item .menuss:hover{
    color: #ab47dd !important;
}
.privacypolicy .abt-box-text h3 {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    text-decoration: underline;
    padding-top: 20px;
}
button.emiCalci {
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: #6d1f82;
    border-radius: 4px;
    border: none;
    color: #fff;
    padding: 10px;
    margin: 1rem 0 2rem;
}
.page-bottom-emi-description {
    margin: 45px;
    font-size: 14px;
    text-align: justify;
    padding-bottom: 20px;
}
.page-bottom-emi-description h2{
    font-size: 18px !important;
    font-weight: 600;
    padding-bottom: 10px;
}
.abt-header h1{
    text-align: center;
    color: #fff;
    padding: 40px;
    text-transform: uppercase !important;
    margin-bottom: 50px;
    font-size: 30px !important;
}
.founder-name{
    font-size: 20px !important;
    font-weight: 900 !important;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -.6px;
    text-align: center;
    padding-top: 10px;
}
.founder-name-desc{
    color: #6e2083;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.4px;
    /*text-align: center;*/

}
.abt-box-adv{
    width: 510px !important;
    margin: 0 auto !important;
    margin-top: -7rem !important;
    background-color: #fbf9f5 !important;
    position: relative !important;
    padding: 10px 50px 30px !important;
    border: 1px solid #eee !important;
}
.cust-btn-current-page{
    background-color: #6d1f82;
    color: #fff;
    padding: 10px 22px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    border: none;
    margin-bottom: 40px;
    margin-left: 50px;
}
.cust-btn-current-page{
    background-color: #6d1f82;
    color: #fff;
    padding: 10px 22px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    border: none;
    margin-bottom: 40px;
    margin-left: 50px;
}
.cust-btn-current-page:hover{
    background-color: #8b2ca5;
    border: none;
    color:  white;
}
.left-blk-content,.right-blk-content{
    background-color: unset !important;
    border: unset !important;
}

.about-container,.abt-box{
    width: 100%;
    margin: 0 auto;
    margin-top: -3rem;
    background-color: #fbf9f5;
    position: relative;
    padding: 10px 50px 30px 50px;
    /* text-align: center; */
}

.company-profile-content,.abt-history {
    position: relative;
    padding-bottom: 4px;
}
.company-profile-content h2,.abt-history h2,.abt-mission-vision h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 28px;
    margin-bottom: 30px;
    color: #732282;
    font-weight: bolder;
    letter-spacing: 2px;
}
.company-profile-content p {
    font-size: 16px;
    text-align: justify;
    line-height: 30px;
}
.company-profile-content:after,.abt-history:after {
    content: '';
    background: #fcb965;
    height: 4px;
    width: 100%;
    position: absolute;
    border-radius: 48%;
}
.abt-header {
    background-image: url(https://www.vaibhavjewellers.com/pub/media/wysiwyg/BG.png);
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1px;
    padding: 30px;
    /*height: 300px;*/
}
.abt-header img{display: none;}


/* ===================ABOUT US PAGE CSS======================= */
.abt-header h2 {
    text-align: center;
    position: relative;
    top: 30px;
    font-size: 35px;
    font-weight: bold;
    color: white;
}
.abt-history-data {
    display: flex;
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #dcdcdc;
}
.abt-history-data:last-child {
    border-bottom: none;
}
.abt-history-data .history-year {
    width: 14%;
    font-size: 16px;
    color: #ae53c5;
    font-weight: bold;
    text-align: justify;
    line-height: 38px;
}
.abt-history-data .history-content {
    width: 90%;
    font-size: 15px;
    font-weight: normal;
    line-height: 30px;
    text-align: justify;
}
.abt-mission, .abt-vision {
    width: 50%;
    display: flex;
}
.mission-heading, .vision-heading {
    width: 20%;
}
.mission-heading h3, .vision-heading h3 {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #ae53c5;
}
.mission-content p, .vision-content p {
    font-size: 15px;
    font-weight: normal;
    line-height: 30px;
    
}
.mission-content, .vision-content {
    width: 100%;
}
.mission-content li {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 5px;
}
.abt-mission-vision-content {
    display: flex;
}

/* ===================FOUNDER PAGE CSS======================= */
.abt-box {
    padding: 50px 50px 30px;
}
.cms-founder .abt-box .profile {
    width: 32%;
    height: 47%;
    margin: 0 60px;
    float: left;
}
.abt-box h1 {
    font-size: 25px;
    color: #ae53c5;
    font-weight: bold;
    margin-bottom: 20px;
}
.abt-box p {
    font-size: 14px;
    /*color: #6d6d6d;*/
    text-align: justify;
    line-height: 23px;
}
.abt-box .profile span {
    font-size: 14px;
    color: #ae53c5;
    font-weight: 900;
    width: 100%;
    text-align: center;
    float: inherit;
    line-height: 36px;
}

/* ===================MANAGEMENT TEAM PAGE CSS======================= */
.cms-management-team .left-blk-content:first-child {
    width: 88%;
    margin: 0 auto;
    margin-top: -5rem;
    /* background-color: #fbf9f5; */
    position: relative;
    padding: 0 0 15px 0;
    /* text-align: center; */
}
.cms-management-team .left-blk-content {
    display: flex;
    width: 88%;
    margin: 0 auto;
    padding: 15px 0;
    /* background-color: #fbf9f5; */
}
.cms-management-team .left-blk-content .text-right,
.cms-management-team .right-blk-content .text-right {
    width: 80%;
    padding: 20px 40px;
    text-align: justify !important;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #efefef;
    background-color: #fbf9f5;
}

.cms-management-team .right-blk-content {
    display: flex;
    width: 88%;
    margin: 0 auto;
    padding: 15px 0;
}
.cms-management-team .right-blk-content .imgleft {
    float: right;
    order: 2;
}
.cms-management-team .left-blk-content .text-right > h2,
.cms-management-team .right-blk-content .text-right > h2{
    font-size: 25px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    /*line-height: 60px;*/
    letter-spacing: -0.6px;
    text-align: left;
    color: #732282;
}
.cms-management-team .left-blk-content .text-right > h6,
.cms-management-team .right-blk-content .text-right > h6{
    color: #c68be4;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.4px;
}
/* ===================WORK WITH US PAGE CSS======================= */
.abt-box-text {
    width: 88%;
    margin: 0 auto;
    margin-top: -3rem;
    background-color: #fbf9f5;
    position: relative;
    padding: 50px;
    font-size: 14px;
    line-height: 30px;
    text-align: justify;
    letter-spacing: .5px;
}
h2.current {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    padding: 0 0 40px;
    text-transform: uppercase;
}

/* ===================CSR PAGE CSS======================= */
.clr-page-links ul {
    padding-left: 0px;
    display: flex;
    justify-content: space-around;
}
.clr-page-links ul li {
    /* display: inline-block; */
    list-style-type: none;
    background-color: #EDDFEE;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    font-weight: normal;
    height: 40px;
    margin-right: 0px;
    width: 100%;
    cursor: pointer;
    margin-right: 32px;
    position: relative;
}
.clr-page-links ul li:last-child {
    margin-right: 0px;
}
.clr-page-links ul li a {
    width: 100%;
    display: block;
    color: black;
    font-weight: 700;
}   
.clr-page-links ul li a:hover {
    color: #aa1fc3;
}
.platinum-page-container h1{
    text-decoration: underline; 
    text-underline-position: under;
    font-size: 30px !important;
    margin-bottom: 20px !important;
}
.clr-page-links ul li.gold-clr-link:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    left: -15px;
    transform: skew(-30deg);
    top: 0;
    background-color:  #f6f6f6;;
}
.clr-page-links ul li.gold-clr-link:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    right: -15px;
    top: 0;
    transform: skew(-30deg);
}
.clr-page-links ul li.active:before, .clr-page-links ul li.active:after{
    background-color: #732282;
}
.clr-page-links ul li.active a {
    color: #ffffff;
}
.clr-page-links ul li.active {
    background-color: #732282;
    color: #ffffff;
}
li.platinum-clr-link:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    left: -11px;
    top: 0;
    transform: skew(-30deg);
}
li.silver-clr-link:after {
    content: '';
    position: absolute;
    width: 28px;
    height: 40px;
    background-color: #f6f6f6;
    right: -11px;
    top: 0;
    transform: skew(-30deg);
}
.platinum-page-container {
    width: 90%;
    margin: 50px auto;
    position: relative;
    text-align: justify;
    font-size: 15px;
    line-height: 24px;
}
.platinum-page-container h2 {
    font-weight: 900;
    color: #732282;
    line-height: 45px;
}
/* ===================Tearms & Conditions PAGE CSS======================= */

.terms-header h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase !important;
    font-size: 30px !important;
    padding: 40px 0 0 0;
     margin-bottom: 20px; 
}
.terms-header p{
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 70px;
}

/* ===================Privacy Policy PAGE CSS======================= */

.em-maxwidth-content.privacypolicy {
    top: -8rem;
    background-color: white;
    padding: 10px 40px;
    position: relative;
    width: 88%;
    margin: 0 auto;
}
.privacypolicy .abt-box-text {
    width: 100%;
    margin: 0 auto;
    /* margin-top: -5rem; */
    background-color: white;
    position: relative;
    padding: 0px;
    font-size: 14px;
    line-height: 30px;
    text-align: justify;
    letter-spacing: .5px;
}
.policyslider {
    border-bottom: 4px solid #732282;
}
.policyslider .col-sm-24 {
    width: 100%;
    margin: 35px 0;
}
.em-slider.city.em-slider-navigation-icon {
    display: flex;
    justify-content: space-evenly;
}
.em-slider.city img {
    float: left;
    display: inline-block;
    padding-right: 10px;
}
.policyslider .em-banners-item {
    width: 25% !important;
}
.privacypolicy .abt-box-text h3 {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
}
.abt-box-text ul li {
    text-align: justify;
    display: flex;
}
.abt-box-text ul li:before {
    content: '\2022';
    margin-left: 2em;
    padding-right: 10px;
}

/* ===================Exchange Policy, shipping policy, terms of use and Refund  PAGE CSS======================= */

.cms-exchange-policy .em-maxwidth-content .abt-box-text h2 {
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    text-align: justify;
    color: #3e3e3e;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.cms-exchange-policy .em-maxwidth-content .abt-box-text h4 {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
}

.cms-terms-of-use .em-maxwidth-content .abt-box-text p,
.cms-shipping-policy .em-maxwidth-content .abt-box-text p, 
.cms-refund-policy .em-maxwidth-content .abt-box-text p, 
.cms-exchange-policy .em-maxwidth-content .abt-box-text p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    text-align: justify;
    color: #3e3e3e;
    margin-top: 20px;
}

.cms-exchange-policy .em-maxwidth-content .abt-box-text p a {
    color: black;
}
.cms-exchange-policy .em-maxwidth-content .abt-box-text p a:hover {
    color: #fcba66;
}
.cms-terms-of-use .em-maxwidth-content .abt-box-text h3 {
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 2px;
}
.cms-terms-and-conditions .abt-header > p {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 70px;
}

/* ===================ADVANTAGE PAGE CSS======================= */

.cms-vaibhav-advantage .left-blk-content:first-child {
    width: 50%;
    position: relative;
    /*top: -7rem;*/
    background-color: #fbf9f5;
    float: left;
    margin: 0 0 10px 5rem;
    
}
.cms-vaibhav-advantage .left-blk-content {
    width: 50%;
    position: relative;
    /*top: -7rem;*/
    background-color: #fbf9f5;
    float: left;
    margin: 10px 0 10px 5rem;
    border: 1px solid #efefef;
    padding: 26px 60px 20px 60px;
}
.cms-vaibhav-advantage .right-blk-content {
    width: 50%;
    position: relative;
    /*top: -7rem;*/
    background-color: #fbf9f5;
    float: right;
    margin: 10px 5rem 10px 0;
    border: 1px solid #efefef;
    padding: 26px 60px 20px 60px;
}
.cms-vaibhav-advantage .left-blk-content .text-right > h2,
.cms-vaibhav-advantage .right-blk-content .text-right > h2 {
    height: 60px;
    font-size: 25px;
    font-weight: 900;
    /*line-height: 60px;*/
    letter-spacing: -0.6px;
    text-align: left;
    color: #732282;
}
.cms-vaibhav-advantage .left-blk-content .text-right > p,
.cms-vaibhav-advantage .right-blk-content .text-right > p{
    font-size: 15px;
    line-height: 24px;
    text-align: justify;
}
.cms-vaibhav-advantage .left-blk-content .text-right > ul li:before {
    content: '\2022';
    padding-right: 10px;
}
.cms-vaibhav-advantage .left-blk-content .text-right > ul li {
    text-align: justify;
    display: flex;
    font-size: 15px;
    line-height: 24px;
}

/* ===================CONTACT US PAGE CSS======================= */
.parentRow{
    width: 100%;
    margin: 0;
    padding: 1.5rem;
}
.topBanner img {
    width: 100%;
}
.row.w-100.m-0.firstContRow, .row.w-100.m-0.secContRow {
    padding-left: 0rem;
    justify-content: center;
}
.contactCustService h2, .corporateOff h2 {
    font-size: 24px;
    color: #732282;
    font-weight: bold;
    padding-bottom: 1rem;
}
.contactCustService {
    padding-bottom: 1rem;
}
.contactCustService ul li, .corporateOff ul li {
    font-size: 15px;
}
.contactCustService ul li img {
    padding-right: 12px;
}
.time span {
    padding-left: 2rem;
}
.formSection fieldset.fieldset {
    width: 75%;
    margin: 0 auto;
}
.formSection input[type ='text'],
.formSection input[type ='email'] {
    height: 40px;
    border-radius: 3px;
}
.formSection textarea#comment {
    border-radius: 3px;
}
.formSection legend.legend {
    height: 45px;
    background-color: #d9a460;
    color: white;
    text-align: center;
    line-height: 45px;
    font-size: 25px;
    font-weight: 800;
}
div.mage-error[generated] {
    font-size: .8rem;
}
.formSection .primary {
    width: 100%;
    float: none !important;
    margin: 20px 0;
}
.formSection button.action.submit.primary {
    letter-spacing: 2px;
    height: 40px;
    background-color: #ae53c5;
    border: 1px solid #ae53c5;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
}
.formSection .field.note.no-label {
    font-size: 15px;
}
@media screen and (min-width: 1441px){
    .formSection fieldset.fieldset {
        width: 65%;
        margin: 0;
    }
}

/* ===================EMI PAGE CSS======================= */
.paytmSec {
    background-color: white;
    /* height: 250px; */
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    margin-right: -4%;
    width: 55%;
    text-align: center;
}
.emiSec {
    /* height: 250px; */
    clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%);
    margin-left: -5%;
    width: 55%;
    background: linear-gradient(-77deg, #f8f0fd 87%, #e0c6eb 13%);
    text-align: center;
}
.outerRow {
  width: 100%;
  margin: 0;
}
.tabDiv,.tabDivSec {
width: 100%;
background-color: transparent;
text-align: center;
}

.outerRow {
  display: inline-flex;
}
button.cardEmi {
    background-color: #e0c6eb;
    border: none;
    color: #ae53c5;
    line-height: 35px;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    height: 45px;
    cursor: pointer;
}
button.cardEmi.cardEmiActive {
    background-color: #552d69;
    border: none;
    color: white;
    line-height: 35px;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
}
button:focus {
    outline:0;
}
.procedure.d-flex {
    justify-content: center;
    margin-left: 25px;
}
.procedure.d-flex img {
    width: 75%;
}
.contentEmi h5 {
    font-size: 24px;
    font-weight: 400;
    color: #732282;
    /* margin: 2rem 0; */
    padding-top: 3rem;
}
.procedure .step p {
    font-size: .7rem;
    letter-spacing: .5px;
    margin-bottom: 4px;
    color: #732282;
    text-transform: uppercase;
}
button.emiCalci {
    background-color: #6d1f82;
    border: 1px solid #6d1f82;
    color: white;
    padding: 2px 20px;
    margin: 1rem 0 2rem 0;
    cursor: pointer;
}
.step i.fas.fa-angle-right {
    font-size: 40px;
    color: #732282;
}
.termsConditions {
    width: 100%;
    padding: 30px 70px;
}
.termsConditions h2 {
    font-size: 20px;
    font-weight: bold;
}
.termsConditions ul li:before {
    content: '\2022';
    padding-right: 10px;
}
.termsConditions ul li {
    display: flex;
    font-size: 15px;
    line-height: 24px;
    text-align: justify;
}
button.cardEmi.cardEmiActive:hover {
    background-color: #552d69;
    color: #d9a460;
    line-height: 35px;
    font-size: 20px;
    font-weight: 600;
}
button.cardEmi:hover {
    background-color: #e0c6eb;
    color: #d9a460;
    line-height: 35px;
    font-size: 20px;
    font-weight: 600;
}
.contentImg{
    height: 100%;
    width:85%;
  }
  .imag{
    width:100%;
    /* background-color: green; */
    display:none;
    height:100%;
  }
  .imag1{
    width:100%;
    /* background-color: gold; */
    height:100%;
  }

/* ===================METAL RATE PAGE CSS======================= */
.banner-image {
   /* background-image: url(https://www.vaibhavjewellers.com/pub/media/wysiwyg/3-women-banner.jpg);
    height: 515px;*/
    position: relative;
}
.metal-table {
    text-align: center;
    background-color: white;
    width: 26%;
    position: absolute;
    bottom: 0;
    right: 5rem;
    height: 300px;
    border-radius: 10% 10% 0 0;
}
.cms-page-view table {
  border: none;
  border-collapse: collapse;
}
.cms-page-view tbody:before {
    content: "-";
    display: block;
    line-height: 10px;
    color: transparent;
}
.cms-page-view table td:first-child {
  border-left: none !important;
}
.cms-page-view .table td, .cms-page-view .table th {
    border-top: none !important;
}

.cms-page-view table td {
    border-left: 1.5px solid #6e2083 !important;
  }
.cms-page-view .table{
    text-align: center;
}
/* .table thead th{
    width: 33%;
} */
.enquiry-card{
    padding: 10px;
    text-align: center;
    border: 1px solid #f1eeee;
    /* box-shadow: 0px 0px 15px 0 lightgrey; */
    margin-left: 3rem;
}
.live-shopn-img {
    border-radius: 0 40% 0 0;
    position: relative;
    background-image: url(https://www.vaibhavjewellers.com/pub/media/Live-video-Website-Block.jpg);
    /*background-size: cover;*/
    background-repeat: no-repeat;
    height: 570px;
    margin-left: -15px;
}
.live-shopn-img button.btn {
    position: absolute;
    right: 8.9rem;
    top: 7.6rem;
    width: 186px;
}
h4.table-heading {
    padding: 17px 0 3px 0;
    font-size: 16px;
    letter-spacing: 1px;
    color: #6e2083;
    font-weight: 700;
}
.metal-table .table thead th {
    background-color: #6e2083;
    color: white;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}
.metal-table .table-borderless td {
    color: #6e2083;
    font-size: 11px;
    line-height: 7px;
    letter-spacing: 1px;
}
button.subscription {
    background-color: #6e2083;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    line-height: 25px;
    margin: 20px 0;
}
.row.w-100.m-0.first-row {
    padding: 50px;
}
.gold-descp {
    padding-top: 25px;
}
.gold-descp p {
    font-size: 15px;
    line-height: 24px;
    text-align: justify;
    color: gray;
}
h4.enquiry-heading {
    font-size: 22px;
    line-height: 30px;
    margin: 2rem 0;
}
.col.enquiry .row {
    width: 80%;
    margin: 1.5rem auto;
}
button.btn.btn-verify {
    background-color: #fcba66;
    border-radius: 0 .25rem .25rem 0;
    color: white;
    /* font-size: 14px; */
}
button.btn.update-submit {
    color: white;
    background-color: #6e2083;
    padding: 10px 45px;
    margin: .5rem 0 1.5rem;
}
.outer-descp-div {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    font-size: 14px;
    line-height: 24px;
}
.outer-descp-div h5 {
    font-size: 18px;
    color: #6e2083;
}
.row.w-100.m-0.gold-bars {
    min-height: 500px;
    background-image: url(https://www.vaibhavjewellers.com/pub/media/wysiwyg/image_2020_04_23T10_20_05_345Z.png);
    position: relative;
    align-items: flex-end;
    background-repeat: no-repeat;
    /*background-size: cover;*/
}
.gold-bars .col-md-4 {
    padding: 15px 50px;
    position: relative;
    bottom: 0;
    height: 170px;
}
.row.w-100.m-0.sec-row {
    min-height: 450px;
    background-color: #ebeff1;
}
.live-shopn-descp h4 {
    margin: 2rem 0;
    padding-left: 40px;
}
.inner-content {
    padding: 20px 40px 20px 30px;
}
.inner-content ul li {
    list-style: none;
}
.inner-content ul li span{
    padding-right: 15px;
}
.inner-content i.fas {
    color: #fcba66;
}
.inner-content ul li p {
    text-align: justify;
    font-size: 14px;
    color: gray;
}
button.btn.btn-outline-warning.submit {
    border-color: #6e2083;
    color: #fcba66;
}
button.btn.btn-outline-warning.submit {
    border-color: #6e2083;
    color: #fcba66;
    margin-left: 3rem;
    border-radius: 20px;
    padding: 7px 20px;
}
.enquiry input.form-control {
    height: 38px;
    border-radius: 3px;
}
.live-shopn-img button.btn.btn-secondary {
    color: white;
    background-color: #902a90;
    border: none;
    border-radius: 20px;
}
.gradient-title:before{
    width: 40%;
}
.gradient-title:after{
    width: 40%;
}


/*personal - your - jewellary css start*/
.em-maxwidth-content {
    max-width: 1110px;
    margin: 0 auto;
}
.cms-personalize-your-jewellery .bespoke-slider .em-slider.city li > span {
    display: none;
}
.em-slider.city img {
    float: initial!important;
}
.em-banners-item {
    float: left;
    width: 19%;
    text-align: center;
}
}
.cms-personalize-your-jewellery .bespoke-slider .em-slider.city a {
    display: block;
    color: #282828;
    font-family: 'AvenirNext-Regular' !important;
    font-size: 14px;
    text-align: center;
    align-items: center;
}
.personalize-sec {
    margin-bottom: 3em;
}
.personalize-send-tabpanel > h2, div#custdes > h3, div#uplddes > h3, div#workdes > h3 {
    padding: 50px;
    float: left;
    width: 100%;
}
.personalize-sec > h2, .personalize-send-tabpanel > h2, div#custdes h3, div#uplddes h3, div#workdes h3 {
    font-size: 35px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.49;
    letter-spacing: -1.2px;
    text-align: center;
    color: #6f2d91;
    margin: 0;
    padding: 40px; 
    clear: both;
}
.personalize-sec h1 {
    text-align: center;
    color: #141414;
    font-weight: bold;
    font-size: 30px;
}
#uplddes .form-4 .left-sec {
    float: left;
    width: 27%;
}
#uplddes .form-4 .inputfile {
    position: relative;
}
#uplddes .form-4 input#imgupload_1 {
    color: #f1e5e6;
    transition: all 0.5s;
    width: 270px;
    height: 220px;
    margin: 0;
    line-height: 246px;
    cursor: pointer;
    z-index: 1;
    position: relative;
    opacity: 0;
}
#uplddes .form-4 .inputfile > img {
    position: absolute;
    left: 0;
    width: 90%;
}
#uplddes input#imgbtnupload_1 {
    width: 270px;
    line-height: 50px;
    z-index: 11;
    position: relative;
    opacity: 0;
    cursor: pointer;
}
#uplddes .form-4 .inputfile p {
    height: 50px;
    margin: 0;
    width: 270px;
    background: #ae53c5;
    float: left;
    line-height: 50px;
    font-family: Avenir-Heavy;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    bottom: 26px;
}
#uplddes .form-4 .right-sec {
    float: left;
    width: 73%;
}
input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
    background: #ffffff;
    background-clip: padding-box;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 40px;
    line-height: 1.42857143;
    padding: 4px 10px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
}

div#uplddes .form-4 .inputbox > textarea {
    height: 160px;
    margin-top: 20px;
}
div#uplddes .form-4 .inputbox > input, div#uplddes .form-4 .inputbox > textarea {
    background-color: #fcfcfc;
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
div#uplddes .form-4 input.checkterm {
    height: 20px;
    width: 20px;
    margin: 10px 0;
    line-height: 50px;
    float: left;
}
div#uplddes .form-4 .inputbox > p, div#custdes .form-2 .inputbox > p {
    margin: 0;
    line-height: 42px;
    padding: 0 30px;
    font-family: Avenir-Medium;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #6f6f6f;
}
div#uplddes .form-4 .submitbtn, div#custdes .form-2 .submitbtn {
    text-align: center;
}
div#uplddes .form-4 .submitbtn > input, div#workdes .form-5 .submitbtn > input, div#custdes .form-2 .submitbtn > input {
    width: 187px;
    height: 40px;
    border: 0;
    background-color: #ae53c5;
    font-family: Avenir-Heavy;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
.right-sec .col-md-12 {
    flex: 0 0 50%!important;
    width: 50%;
}

/*second one*/
#custdes .form-2 .left-sec {
    float: left;
    width: 27%;
}
#custdes .form-2 .inputfile {
    position: relative;
}
#custdes .form-2 input#imgupload_2 {
    color: #f1e5e6;
    transition: all 0.5s;
    width: 270px;
    height: 220px;
    margin: 0;
    line-height: 246px;
    cursor: pointer;
    z-index: 1;
    position: relative;
    opacity: 0;
}
#custdes .form-2 .inputfile > img {
    position: absolute;
    left: 0;
    width: 90%;
}
#custdes input#imgbtnupload_2 {
    width: 270px;
    line-height: 50px;
    z-index: 11;
    position: relative;
    opacity: 0;
    cursor: pointer;
}
#custdes .form-2 .inputfile p {
    height: 50px;
    margin: 0;
    width: 270px;
    background: #ae53c5;
    float: left;
    line-height: 50px;
    font-family: Avenir-Heavy;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    bottom: 26px;
}
#custdes .form-2 .right-sec {
    float: left;
    width: 73%;
}


div#custdes .form-2 textarea {
    height: 160px;
    margin-top: 20px;
}
div#custdes .form-2 .inputbox > input, div#custdes .form-2 textarea {
    background-color: #fcfcfc;
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
div#custdes .form-2 input.checkterm {
    height: 20px;
    width: 20px;
    margin: 10px 0;
    line-height: 50px;
    float: left;
}
div#custdes .form-2 .inputbox > p, div#custdes .form-2 .inputbox > p {
    margin: 0;
    line-height: 42px;
    padding: 0 30px;
    font-family: Avenir-Medium;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #6f6f6f;
}
div#custdes .form-2 .submitbtn, div#custdes .form-2 .submitbtn {
    text-align: center;
}
div#custdes .form-2 .submitbtn > input, div#workdes .form-5 .submitbtn > input, div#custdes .form-2 .submitbtn > input {
    width: 187px;
    height: 40px;
    border: 0;
    background-color: #ae53c5;
    font-family: Avenir-Heavy;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
.left-txtcode {
    width: 90%;
}
.right-imgbtn {
    width: 90%;
}
#findimages {
    width: 100%;
}
#workdes .inputbox {
    width: 32%;
    float: left;
    margin-right: 3%;
    margin-bottom: 2%;
}
#workdes .inputbox:nth-child(3) {
    margin-right: 0;
}
div#workdes .form-5 textarea {
    height: 160px;
    margin-top: 20px;
}
div#workdes .form-5 .inputbox > input, div#workdes .form-5 textarea {
    background-color: #fcfcfc;
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
div#workdes .form-5 .submitbtn, div#workdes .form-5 .submitbtn {
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}
#findimages {
    width: 100%;
    background: #ae53c5;
    color: #ffff;
    font-weight: 900;
    font-family: Avenir-Heavy;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 50px;
    border: none;
}
div#opendesign-slider {
   display: block;
}
button.senddesign:focus, .tab button.senddesign:active, .tab button.senddesign.active {
   background: #6f2d91;
   border: 1px solid #6f2d91;
   color: #ffffff;
}
.tab .senddesign {
   width: 351px;
   font-weight: 900;
   font-style: normal;
   font-stretch: normal;
   line-height: 25px;
   letter-spacing: 1.4px;
   text-align: center;
   text-transform: none;
   border-radius: 0;
   margin-right: 19px;
}

.senddesign {
   background-image: none;
   background: #fcba66;
   border: 1px solid #fcba66;
   cursor: pointer;
   display: inline-block;
   margin: 0;
   box-sizing: border-box;
   vertical-align: middle;
   color: #fff;
}
.tabdesigncontent {
   display: none;
}
.submitbtn {
   margin-bottom: 2em;
}
.senddesign:hover {
background: #fcba66;
color: #fff;
}
/* personal - your - jewellary css end */

/* Popup cancel/delete the product in minicart/checkout page css start*/
.modal-inner-wrap .modal-content {
   border: none;
   font-weight: bold;
}
.modal-inner-wrap .modal-footer {
   margin-bottom: 1em;
}
.action-secondary {
   background: #6F2D91;
   color: #fff;
   width: 80px;
}
.action-primary {
   background: #6F2D91;
   color: #fff;
   width: 80px;
}
.action-primary:hover {
   background: #6F2D91;
   border: none;
}
.action-primary:focus {
background: #6F2D91;
border: none;
}

/* Popup cancel/delete the product in minicart/checkout page css end*/

label.time-vde {
    margin-left: -12px;
}
.d-flex.set-item{
    width: 71%;
    float: right;
    margin-right: -17px!important;
}

/* try on page css start */


@media (min-width: 480px){

.phonediv {
    display: none;
}
.filter_opt_web{
    height: 80px;
}
.category-option {
    width: 250px;
    /*height: 100px;*/
    vertical-align: top;
    display: inline-block;
    zoom: 1;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: -20px;
    margin: 20px;
}
.style-option {
    width: 250px;
    /*height: 100px;*/
    vertical-align: top;
    display: inline-block;
    zoom: 1;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: -20px;
    margin: 20px 20px 0 0;
}
.try-option {
    width: 250px;
    height: 100px;
    vertical-align: top;
    display: inline-block;
    zoom: 1;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: -20px;
}
}
@media (min-width: 768px){

.products-grid .emcatalog-desktop-5 .product-items:not(.owl-carousel)>.product-item {
    width: 19.5%;
    padding-left: 10px;
    padding-right: 10px;
}
}


input[type=text], input[type=password], input[type=url], input[type=tel], input[type=search], input[type=number], input[type=datetime], input[type=email], input.input-text, select, textarea {
    color: #282828;
    border-color: #dcdcdc;
    font: 500 14px/1.55 Lato,sans-serif;
    padding: 5px 10px;
    height: 40px;
    line-height: 28px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
a#tryonButton {
    text-transform: uppercase;
    font-size: 14px;
}
.products-grid .product-item-info .product-shop-top .product-item-photo img {
    /* -webkit-border-radius: 5px 5px 0 0; */
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.products-list .item a.product-item-photo .em-alt-hover, .products-grid.isotope .item a.product-item-photo .em-alt-hover, .product-item a.product-item-photo .em-alt-hover {
    position: absolute;
    top: 0;
    -moz-transition: all .7s ease;
    -webkit-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /* backface-visibility: hidden; */
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
}
.product-item .product-shop-top {
    position: relative;
    overflow: hidden;
}
.products.wrapper.grid.products-grid {
    width: 100%!important;
    margin: 10px 0!important;
}
#myList {
    width: 100%;
}
.product-item-info {
    max-width: 100%;
    width: 100%;
    border: 1px solid #fcba66;
    border-radius: 5px;
    /* margin-top: 0em; */
}
.products-grid .product-item-info:hover, .products-grid .product-item-info.active {
    box-shadow: 0 0 10px #fcba66;
    -moz-box-shadow: 0 0 10px #fcba66;
    -webkit-box-shadow: 0 0 10px #fcba66;
    -o-box-shadow: 0 0 10px #fcba66;
    -ms-box-shadow: 0 0 10px #fcba66;
}
.product.details.product-item-details {
    text-align: center;
}
.product-item .price-box {
    text-align: center;
    display: inline-block;
}
/*ul.pagination {
    display: inline-block!important;
}*/
.page-item {
    padding: 0.3rem 0.8rem!important;
}
.page-item span {
    color: #fff;
}
.limiter {
    display: none;
}
.products.wrapper.grid.products-grid {
border: none!important;
}
#myList {
border: none;
}
#message {
top: 370px;
background-color: #6f2d91!important;  }
/* try on page css end */

.top-row {
   width: 90%;
   float: left;
   margin-left: 5%;
}
.row.field-wrap.em3 {
   height: 50px;
}
.top-row br {
   display: none;
}
.field-wrap.timeShift {
   text-align: left!important;
}
.sign_btn button#submit {
   width: 100%;
}
.sign_btn button#submit {
height: 35px;
font-size: 1rem;
}


/* delete/cancel the product in mini cart page css start */
.modal-inner-wrap button.action-close {
   background: none!important;
}
.modal-inner-wrap .modal-footer {
   border-top: none!important;
}
.modal-popup .action-close, .modal-slide .action-close {
padding: 20px!important;
width: auto!important;
height: 30px!important;
}
.modal-custom .action-close:before, .modal-popup .action-close:before, .modal-slide .action-close:before {
line-height: 24px;
color: #757575!important;
}
.modal-inner-wrap header.modal-header {
border: none!important;
}

/* delete/cancel the product in mini cart page css end */

span.price-label {
    color: #808080;
    font-size: 13px;
    line-height: 20px;
    vertical-align: top;
    padding-left: 5px;
    }

/*pop up css for in minicart and checkout page while deleting the product  css start*/
    .modal-inner-wrap .modal-content {
   border: none;
   font-weight: bold;
   text-align: center;
}
.modal-inner-wrap .modal-footer {
   text-align: center;
   width: 100%;
   display: block!important;
}

.action-secondary:focus {
   background: #6F2D91;
   border: none;
   color: #fff;
}

.action-secondary:hover {
   background: #6F2D91;
   color: #fff;
}

/*pop up css for in minicart and checkout page while deleting the product  css end*/


/* css for our Branch pages start*/

.em-maxwidth-content {
   padding-top: 0!important;
}
.left-blk-content.sstore {
   width: 100%;
   float: left;
}
.local-left {
   float: left;
   width: 30%;
   background: #F9EFFA;
}
.local-left h2 {
   font-size: 15px;
   font-weight: bold;
   padding-left: 10px;
   padding-top: 10px;
}
.local-left p {
   padding-left: 10px;
}
.local-right {
   width: 70%;
   float: left;
   /*background: #73217f;*/
   padding-left: 8%;
   /*border-top: 2px solid #ccc;
   padding-top: 15px;*/
   color: #000;
}

.local-right h2 {
   font-size: 20px;
   font-weight: bold;
}
.local-right p a {
    color: #6e2083;
    font-weight: bold;
}
.cms-page-view footer.page-footer {
   width: 100%;
   float: left;
}
.local-map iframe {
   width: 100%!important;
}
.local-map {
   width: 30%;
   float: left;
}
.local-right h1 {
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 10px;
}

/* css for our branch pages end */


.nsform {
    width: 100%;
    padding-right: 30px;
    margin-top: -215vh;
}

.nfaq {
    width: 60%;
    max-width: 100%;
    padding-left: 30px;
}

    .carousel-control-next, .carousel-control-prev {

          display: block;
    position: absolute;
    top: 50%;
    width: 60px !important;
    height: 60px;
    background-color: rgba(189,189,189,.8);
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out;
    cursor: pointer;
    margin-top: 50px;
    }
.carousel-control-prev-icon {
   position: absolute;
    top: 55%;
    left: 90%;
    margin-top: -16px;
    outline: 0;
    width: 55px;
    height: 31px;
    z-index: 9;
    transform: translateX(-50%);  
}
.carousel-control-next-icon {
    position: absolute;
    top: 55%;
    margin-top: -15px;
    right: 50%;
    outline: 0;
    width: 55px;
    height: 31px;
    z-index: 9;
}

  .arrow {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}
.arrow-right {
  transform: rotate(45deg);
}
.arrow-left {
  transform: rotate(-135deg);
}
.carousel-control-next {
    right: 10px;
}
.carousel-control-prev {
    left: 10px;
}

#slider:hover .carousel-control-next, #slider:hover .carousel-control-prev {
visibility: visible;
opacity: 1;
}
/*.abt-header h1{
    text-align: center;
    color: #fff;  
  padding-top:30px;
}*/
.cms-thank-you .abt-header h1{
   padding-top:116px; 
}
.cms-faq .abt-header h1{
   padding-top:75px; 
}
.cms-terms-of-use .abt-header h1{
   /*padding-top:90px; */
}
.cms-shipping-policy .abt-header h1{
   padding-top:70px; 
}
.cms-bridal-collection .page-title-wrapper{
    text-align: center;
    margin-top: 21px;
}
.contact-index-index .page-title-wrapper{
    text-align: center;
    margin-top: 30px;
}
.contact-index-index span.base{
    font-size:30px;
}
.cms-bridal-collection span.base{
    font-size:30px;
}
.cms-vaibhav-nri-festival .first-blk{
    float: left;
    margin-right: 100px;
}
.cms-vaibhav-nri-festival .second-blk{
 float: left;
    margin-right: 100px;   
}


