
.block.block-customer-login {
    float: right !important;
}
.page-title-wrapper {
    display: none;
}
.abs-discount-block-desktop .block:nth-child(2), .amazon-addresses .amazon-address:nth-child(2), .login-container .block:nth-child(2), .account .column.main .block:not(.widget) .block-content .box:nth-child(2), .form-address-edit > .fieldset:nth-child(2), .form-edit-account .fieldset:nth-child(2), .storecredit .block:nth-child(2), .paypal-review-discount .block:nth-child(2), .cart-discount .block:nth-child(2){
	float: right;
	margin-left: 55px;
	margin-top: 10px;
}
.field.note {
    display: none;
}
.login-container .fieldset:after{
	display: none;
}
.login-container .block {
    width: 100% !important;
    padding: 30px 30px;
}
.actions-toolbar .primary{
    height: 35px;
    font-size: 15px;
    border-radius: 20px;
    float: right !important;
    padding: 0 35px;
    
}
.actions-toolbar .primary .action{
    background-color: #007bff;
    border: 1px solid #007bff;
}
.actions-toolbar .secondary{
	text-align: left;
}

.amazon-validate-container .block .block-title strong, .login-container .block .block-title strong{
	font-weight: 600;
}
p.qtext {
    font-size: 13px;
    color: #ccc;
}
.actions-toolbar.social-btn.social-btn-actions-toolbar.google-login {
    float: left;
    /* margin-top: -30px; */
}
.btn-facebook {
    display: block;
    width: 111px;
    height: 30px;
    background: #3b5998;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    color: white !important;
    font-weight: bold;
    padding-top: 2px;
    box-shadow: 1px 2px 3px 2px #ccc;
    cursor: pointer;
    line-height: 25px;
}
.btn-google{
	display: block;
    width: 100px;
    height: 30px;
    background: #db3236;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    color: white !important;
    font-weight: bold;
    /* margin-left: 115px; */
    padding-top: 0px;
    box-shadow: 1px 2px 3px 2px #ccc;
    cursor: pointer;
    margin-left: 30px;
    line-height: 30px;
}

p.sc-l {
    margin-left: 0;
    margin-bottom: 0;
    color: #ccc;
}
.inner-block-newsletter {
	margin-top: 10px;
}

.login-section {
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 3%;
}
.vaibhav_img .col-3 img {
    width:40px;
}
.m-auto.px-5.vaibhav_img {
    max-width: 90%;
    max-height: 88%;
    height: 330px;
    padding-top: 0px;
}

span.p-2.dayretun {
    margin-top: -30px;
}
span.align-items-center.shop-facilities {
    margin-top: -30px;
}
span.p-2.Refund {
    margin-top: -30px;
    
}
input[type="text"], 
input[type="password"], 
input[type="url"], 
input[type="tel"], 
input[type="search"], 
input[type="number"], 
input[type="datetime"], 
input[type="email"] {
    border-width: 0 0 2px;
    padding: 0;
}

.login-container .block .block-title {
    border-bottom: none;
    text-align: center;
    text-decoration: underline;
}

.login-container .fieldset > .field > .control {
    width: 90% !important;
}

.actions-toolbar {
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
.actions-toolbar > .primary, .actions-toolbar > .secondary {
    width: 50%;
}
.block.social-login-authentication-channel.account-social-login {
    text-align: center;
    margin: 0;
    padding: 0;
}
.block-content {
    display: flex;
    justify-content: center;
}
form#login-form {
    width: 100%;
}
input:focus{
    -webkit-box-shadow: none !important;
}
.mage-error {
    font-size: .8rem !important;
}
button:active{
    outline: none;
}

a.action.create.primary {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    width: 190px;
    color: #6e2083;
    padding-top: 0px;
    margin-top: -45px;
    margin-left: 15px;
}