<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_sendinquiry_index_postnew">
        <observer name="captcha_sendinquiry_form" instance="Magegadgets\Sendinquiry\Observer\CheckSendinquiryObserver" />
    </event>
</config>