span.stone-text-box {
    margin-left: 10px;
	position: relative;
}

span.stone-text-box .stone-text {
    height: 32px;
    padding: 5px;
    margin-right: 5px;
	width: 100px;
}
input.weight.stone-text {
    width: 80px;
}
a.add-remove-stone {
    color: #eb5202;
    height: 32px;
    width: 32px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

a.add-remove-stone:before {
    content: '\e630';
    font-size: 2rem;
	font-family: 'Admin Icons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
}

.addional_stone_selection {
    width: 370px;
}

.stone_information_html {
    font-size: 12px;
    margin: 5px 0;
    border-bottom: 1px dashed;
    padding-bottom: 5px;
}

.stone_information_html .stone-info {
    width: 48%;
    float: left;
    margin-right: 1%;
}

.stone_information_html .stone-info b {
    text-transform: capitalize;
    color: #eb5202;
}

.clear {
	clear:both;
}

button.add_stone.primary {
    float: left;
}

.stone_buttons {
    text-align: right;
    display: block;
    clear: both;
    margin-top: 10px;
}

.admin__control-table .action-delete:before {
    content: '\e630';
    font-size: 2rem;
}


.submit_save_stone.primary:after {
    color: #fff;
    content: '\e631';
    font-family: 'Admin Icons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
	margin-left: 10px;
}

.admin__field[data-index=stone_price] , .admin__field[data-index=stone_business_price]{
    display: none;
}

em.gm-place {
    position: absolute;
    right: 45px;
    top: -1px;
    color: #eb5202;
}