/** Start - Mobile Header-Switch Currency **/
ul.dropdown.switcher-dropdown {
    background: white;
    height: 40px;
    border: 1px solid #f9f9f9;
	position: absolute;
}


.page-header .switcher .options .action.toggle:after,
.page-footer .switcher .options .action.toggle:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    line-height: 22px;
    color: inherit;
     font-family: FontAwesome !important;
    content: '\f078' !important;
    font-display: 'swap';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: 400;
    overflow: hidden;
    speak: none;
    text-align: center
}
.page-header .switcher .options .action.toggle.active:after, .page-footer .switcher .options .action.toggle.active:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    line-height: 22px;
    color: inherit;
     font-family: FontAwesome !important;
    content: '\f077' !important;
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: 400;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.switcher-options {
  position: relative;
  display: inline-block;
}

.switcher-dropdown {
  display: none;
  position: absolute !important;
  right: 0;
  	max-width: 71px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.switcher-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.switcher-dropdown a:hover { background-color: #f1f1f1;}
.switcher-options:hover .switcher-dropdown { display: block;}
.switcher-options:hover .dropbtn { background-color: #3e8e41;}

/** End - Mobile Header-Switch Currency **/

/* Home Page Content */
.cms-index-index.block-static-block.widget {
    margin: 20px;
    text-align: justify;
}