.one-step-checkout .address-information .shipping_address{
	margin-left: 10px;
    max-width: 94%;
}
.onestepcheckout-review-info ol li.order-review-info #checkout-review-table-wrapper, .order-review-section, .onestepcheckout-billing-section, .onestepcheckout-shipping-payment-review .order-information, #shipping, .onestepcheckout-billing-section .billing_address{
	box-shadow: 0 9px 15px rgba(0, 0, 0, 0.5), 0 1px 8px rgba(0,0,0,0.24);
}
.one-step-checkout.three-columns-new-osc .order-info-3-columns{
	margin-left: 10px;
    max-width: 94%;
}
.one-step-checkout.three-columns-new-osc .order-review-section, .one-step-checkout.three-columns-new-osc .onestepcheckout-shipping-payment-review, .one-step-checkout.three-columns-new-osc .address-info-3-columns{
	margin-left: 10px;
    max-width: 94%;
}
.logo img {
    margin-left: 65px !important;
    width: 50% !important;
}
.modal-popup .modal-inner-wrap {
	width: 75% !important;
}
.modal-header, .modal-footer, .modal-content {
	border: none !important; 
}
@media (max-width: 768px) {
	footer {
    width: 100%;
    height: 30px;
}
}

.three-columns-new-osc .wrap-col-last-3{
	max-width: 88%;
    margin-right: 25px;
}
.title{
	/*display: none;*/
}

