/*29-12-2021*/

/*span.base.ct-title {
    margin-left: 60px;
}
*/
/*FOOTER*/

footer h5 {
        font-size: 16px;
        font-weight: 600 !important;
    }
    .footer-bottom h3 {
        margin: 0;
        border-bottom: 1px solid;
        padding: 10px;
        font-size: 16px;
        margin-bottom: 20px;
    }
    .footer-bottom{
        background-color: #431A44 !important;
    }
    .cp p {
        padding: 20px 0 0 0 !important;
        color: #fff !important;
        font: 13px/1 sans-serif !important;
    }
    .cp{
        padding: 40px 0 0 0;
    }

    .mobile-section .footer-title::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px !important;
        background-color: #fff !important;
        left: 0;
        bottom: -5px;
    }
    footer li {
        font-size: 13px !important;
        padding-bottom: 10px !important;
    }
    .mobile-section .footer-top li a {
        color: #fff !important;
    }
    .pl-35{
        padding-left: 35px;
    }

    .page-footer {
        margin-top: 0;
        height: auto!important;
    }
    .mobile-section .footer-top{
        background-color: #6e2083 !important;
    }
 .inner-block-newsletter input#newsletter {
        height: 40px !important;
        margin: 0 0 0 15px !important;
        width: 220px !important;
    }
    .inner-block-newsletter mt-5 this_is_mobile{
        content-visibility: auto;
        contain-intrinsic-size: 80px;
        background-color: #f1e4f2 !important;
    }
    .inner-block-newsletter {

        background: #6e2083!important;
        margin: 10px 0 10px 0 !important;
        height: 110px;
    }
    .inner-block-newsletter h2 {
        color: #6f2c91 !important;
        font-size: 16px !important;
        margin-bottom: 12px;
        margin-left: 20px;
        text-align: left !important;
        font-weight: 600;
    }
    .mobile-section .footer-title{
        color: #fff !important;
        display: inline-block;
        position: relative;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    



 /*   .inner-block-newsletter button.p-2 {
        background: #6e2083;
        height: 38px;
        font-size: 1.4rem;
        width: 120px !important;
        margin-left: 6px;
        border-radius: 4px;
    }
    .inner-block-newsletter h2 {
        font-size: 17px !important;
        margin: 18px 0 10px 0px;
        letter-spacing: 0.3px;
        font-weight: 600;
    }
    .container-fluid.d-flex.justify-content-center.px-5.py-3 {
        display: initial!important;
        width: 100%;
        float: left;
        margin-left: 10px;
    }
    .pr-5, .px-5 {
        padding-left: 0 !important;
    }
    .pr-5, .px-5 {
        padding-right: 3rem !important;
    }
    .pt-3, .py-3 {
        padding-top: 1rem !important;
    }*/
/*FOOTER*/




.slideshow-container{
    width: 70%;
}
.actions-toolbar .btn-social{
    border: 1px solid #ccd1df;
    padding: 2px;
}
.block.social-login-authentication-channel.account-social-login .fa{
    font-family: 'Font Awesome 5 Brands';
    color: #3c559c;
    font-size: 20px;
    padding-top: 6px;
}
.actions-toolbar>.primary {
    margin-bottom: 10px;
    text-align: center;
    margin-top: 30px;
}
.category-heading{
    background: #fff;
}
form#login-form {
    margin-left: 20px;
    max-width: 90%;
}
.login-container .block .block-title{
    display: none;
}
.field.note {
    display: none;
}
.action.primary{
    background: #6d2080 !important; 
    border: 1px solid #6d2080 !important;
    font-size: 2rem; 
}
/*.column.main .block:last-child{
    display: none;
}*/
.page-title {
    text-align: center;
    letter-spacing: .2px;
    font-size: 20px;
}

p.dt-h-ac {
    font-size: 1.6rem;
    color: #6d2080;
    font-weight: 600;
    /* margin-left: 20px; */
}

a.action.create {
    float: right;
    padding-left: 6px;
    font-size: 1.6rem;
    color: #bd3ce0;
    text-decoration: underline;
    font-weight: 600;
}
.actions-toolbar > .primary .action:last-child, .actions-toolbar > .secondary .action:last-child{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    border-radius: 4px;
}
.login-container .fieldset:after{
    display: none;
}
.btn-facebook {
    display: block;
    width: 135px;
    height: 40px;
    background: #3b5998;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    color: white !important;
    font-weight: bold;
    margin-left: 20px;
    text-transform: uppercase;
    
}
.btn-google {
    display: block;
    width: 135px;
    height: 40px;
    background: #db3236;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    color: white !important;
    font-weight: bold;
    margin-right: 20px;
    text-transform: uppercase;
    float: right;
    /* margin-top: -40px; */
}
input#Keep_me {
    width: 20px;
}
.keep {
    margin-left: 22px;
    margin-top: -15px;
    margin-bottom: 0;
    font-size: 1.2rem;
}

.title {
    display: none;
}

form#newsletter-validate-detail {
    width: 250px;
    max-width: 100%;
}
.subsri {
    margin-top: -60px;
    margin-left: 250px;
    height: 32px;
    font-size: 15px !important;
}
.inner-block-newsletter input{
    width: 100%;
}

.label {
    display: none;
}
 /* new css */

.actions-toolbar .secondary{
    padding-top: 25px;
}
.actions-toolbar .secondary span{
    color: #6d2080;
}
.block.social-login-authentication-channel.account-social-login .block-content {
    display: flex;
    justify-content: space-evenly;
}
.eml{
    position: relative;
    left: 8px;
    z-index: 99;
    font-size: 18px !important;
    color: #c2c2c2;
    top: 33px;
}
.pwd{
    position: relative;
    left: 2px;
    z-index: 99;
    font-size: 20px !important;
    color: #c2c2c2;
    top: 20px;
    padding-left: 6px;
}
p.sc-l {
/*    margin-left: 95px;
    color: #c1c1c1;
    font-size: 15px;*/
    font-size: 14px;
    color: #9e9c9c;
    text-align: center;
}
input#email,input#pass {
    padding: 0 0 0 30px;
}
.block, .customer-review .product-details, .block-banners, .block-banners-inline{
    margin-bottom: 15px;
}
/* add this class in 'have another acc register' beside  'block-content'*/
.anotherAcc{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.customer-account-login .category-heading {
    margin-top: 60px !important;
}