.fotorama__dot{


height: 10px !important;

width: 10px !important;

}



.category-heading{

	background: #fff !important; 

	color: #000 !important;

}

.fz-small.text-violet.text-uppercase{
 color: #7923c7f7 !important;
	    width: 50% !important;

	    padding-top: 10px;

        font-size: 12px;

}

.fz-small.text-violet{

	    float: left !important;

	    padding-top: 10px;

    	font-size: 13px;

}

.delivery-input {

    font-family: inherit !important;

    width: auto !important;

    border: 0 !important;

    outline: 0 !important;

    height: auto !important;

}



.catalog-product-view .price-box .dis-price {

    display: none;

}



.dis_make_charge_actual .special-price {

    display: block !important;

}



.product-info-main .product-info-price{

	border-bottom: 0px solid #fff !important;

}

.actions-toolbar > .primary .action, .actions-toolbar > .secondary .action, .bundle-actions .action.primary.customize, .bundle-options-container .block-bundle-summary .box-tocart .action.primary, .box-tocart .action.tocart, .box-tocart .action.instant-purchase{

    width: 42% !important;

    height: 47px !important;

}



.order-review-form .action.primary, .bundle-actions .action.primary.customize, .bundle-options-container .block-bundle-summary .box-tocart .action.primary, .box-tocart .action.tocart, .cart-summary .checkout-methods-items .action.primary.checkout, .block-minicart .block-content > .actions > .primary .action.primary, .methods-shipping .actions-toolbar .action.primary, .block-authentication .action.action-register, .block-authentication .action.action-login, .checkout-payment-method .payment-method-content > .actions-toolbar > .primary .action.primary, .form-address-edit .actions-toolbar .action.primary, .box-tocart .action.instant-purchase, .multicheckout .action.primary{

padding: 10px 17px !important;

}



.action.primary{

	background: #1979c3 !important; 

    border: 1px solid #1979c3 !important; 

}



.pdtcon .info-tab, .descon .info-tab{

	padding-right: 15px !important;

    padding-left: 15px !important;

    text-align: left !important;

    font-size: 1.5rem;

}



/*.product-rev-del {

    margin-top: -23px !important;

}*/

a.action.view.bd-right {

    color: #808080;

    font-size: 13px;

    font-weight: 700;

    padding: 0 0.7rem;

}



a.action.add {

    color: grey;

    font-size: 13px;

    font-weight: 700;

    padding: 0 0.7rem;

}



.p-sku {

    border-bottom: 1px solid #ccc;

    height: 40px;

    width: 380px;

    max-width: 100%;

}



.product-options-bottom .price-box .price-container .price, .product-info-price .price-box .price-container .price{

	margin-left: 30px;

	margin-top: 5px;

    color: black !important;

}

.product-info-price > *:last-child{

	padding-top: 10px;

}



.product-info-main .stock.available, .product-info-main .stock.unavailable{

	    /*margin-right: 124px;*/

        position: absolute;

right: 0;

top: 50px;

border: 2px solid;

padding: 3px;

background: ;

color: #509ec4;

margin-right: 15px;

}



.emi-plans{

	font-size: 1.2rem;

	/*margin-right: 80px;*/

}



.replacebreadcrumbs {

    padding-top: 15px;

}



.offer-price {

	font-size: 1.2rem;

}

.text-orange{

	font-size: 16px;

	color: #ee853c;

}

.try-on, .add-to-cart, .cart{

	width: 130px;

	height: 40px;

	text-transform: uppercase;

}

.shop-img{

	margin-top: -5px;

}



.prod-tab{

	font-size: 1.2rem !important;

	text-align: left;

}

.products{

	width: 100%;

	border: 0;

}

#recently_viewed .block-title{

	display: none;

}

.inner-block-newsletter input{

    width: 100%;

    height: 25px;

    margin-left: -15px;

}



.justify-content-between h2{

    margin-left: -30px;

    margin-left: -40px;

}

.inner-block-newsletter button{

	width: 40%;

}

.inner-block-newsletter h2{

	    font-size: 16px;

	    margin-bottom: 10px;

}



#ui-id-1 a:hover, a:active{

	padding: 0px;

}

.review-faq .nav-link.active{

    background-color: #6F2D91;

    height: 30px;

	padding-top: 9px;

}

.fotorama__stage__frame.fotorama__active{

	border: 1px solid #ccc;

    top: 15px;

    max-height: 95%;

}



.bd-right{

	    margin-right: 5px !important;

}



.old-price{

font-weight: 900 !important;

color: #000;

}



.product-info-main .product-info-price .old-price .price-wrapper .price {

    font-weight: 600;



}

.product-options-bottom .price-box, .product-info-price .price-box{

	color: #212529;

}



.text-gray{

	font-size: 16px;

}



.pdp-offer.mb-2 {

    margin-top: -20px;

    display: inline-block;

    text-align: center;

    }



    .location-box{

    	padding-top: 1.5rem !important;

        margin-right: 80px;

        float: left;

    }

    .loc-img{

    	margin-top: -10px !important;

    }

   .description.ht-q.info-tab{

   	    margin-left: -15px;

   }



   .ct-m.font-weight-bold {

    color: #212529;

    font-size: 1.5rem;

}

.detail-list{

	font-size: 1.2rem;

}

.fz-big{

	    font-size: 2.2rem;

}

.fz-medium {

    font-size: 1.2rem;

}

#view_recent_prod .nav-link.active{

	font-size: 1.5rem;

    font-weight: 700;

}

#view_recent_prod .nav-link{

	font-size: 1.5rem;

    font-weight: 700;

}

.head2{

	font-size: 1.9rem;

}



.review-faq .nav-link.border-0{

	font-size: 0.9rem;

	height: 30px;

    padding-top: 10px;

}



.future{

	font-size: 1.5rem;

    color: #212529;

    font-weight: 700;

}

.search-autocomplete{

	margin-top: 18px !important;

}

.block-minicart .subtitle{

	display: block;

}



.modal-popup.modal-slide._inner-scroll .modal-inner-wrap{

    margin-right: 50px;

    margin-left: -10px;

    min-height: auto;

}



.modal-slide._inner-scroll .modal-footer{

    /*margin-top: -93px;

    z-index: 99;

    border-top: 0px solid #fff;*/

    display: none;

}

.modal-popup .action-close, .modal-slide .action-close {

    padding: 0;

    width: 30px;

    height: 30px;

    background: #000 !important;

    -webkit-border-radius: 0;

    -moz-border-radius: 0;

    border-radius: 0;

}

.modal-custom .action-close:before, .modal-popup .action-close:before, .modal-slide .action-close:before {

    line-height: 24px;

    color: #fff;

}

header.modal-header {

    box-shadow: none;

    background-color: #ffffff;

    border: none;

}

.catalog-product-view .modal-content #header-mpdal-customer h2 {

    line-height: 1.3;

    font-size: 25px;

    text-align: center;

    font-weight: 700;

}

.catalog-product-view .modal-content #header-mpdal-customer h3 {

    font-size: 20px;

    color: #6f2d91;

    margin-top: 15px;

    margin-bottom: 15px;

    text-align: center;

    font-weight: 700;

    line-height: 30px;

}

.catalog-product-view .form-customer-equiry .form-5 .inputbox1 {

    width: 95%;

    margin: 5px auto;

}

.catalog-product-view .form-customer-equiry .form-5 .textareainputbox1 {

    width: 95%;

    margin: 10px auto;

}

.catalog-product-view .form-customer-equiry .form-5 .submitbtn1 {

    text-align: center;

}

.catalog-product-view .form-customer-equiry .form-5 .submitbtn1 button {

    background-color: #ae53c5;

    border: 1px solid #ae53c5;

    color: #fff;

    position: relative;

    left: 0%;

    right: auto;

}

.modal-content{

    border: none !important;

}

.text-uppercase.pin-check.text-violet{

    border: 2px solid #6c757d !important;

    background-color: inherit;

    padding: 7px 25px;

    font-size: 16px;

    cursor: pointer;

    display: inline-block;

    margin-left: 245px;

    margin-top: -44px;

    height: 38px;

    background: #e8e8e8;

}



div.mage-error[generated]{

    font-size: 0.9rem;

}



input#international-checkbox {

    width: 16px;

    height: 16px;

    padding: 0px;

    margin: 0;

    vertical-align: bottom;

    position: relative;

    top: -8px;

}



input#smartbuy_product {

    width: 13px;

    height: 13px;

    padding: 0px;

    margin: 0;

    vertical-align: bottom;

    position: relative;

    top: -8px;

}



/*.pdt{

        max-width: 345px;

}

.destr{

    max-width: 345px;

}*/

.prod-tab{

    background-color:#6F2D91;

}

/*

.col.review-faq{

    max-width: 345px;

}*/



u.smartby {

    font-size: 15px;

}

.detail-list{

    color:#676767;

}

button#product-updatecart-button {

    height: 40px !important;

    text-transform: uppercase;

    font-size: 12px;

}



.heading-purchase {

    width: 100%;

    text-align: center;

    background-color: #6F2D91;

    color: white;

}

div#askquestform {

  padding-top: 5px;

}

.text-center.justify-content-center.info-div {

background-color: #6F2D91;

color: white;

}

.heading-purchase h5 {

font-size: 16px;

margin: 0;

padding: 10px 0;

font-weight: 600;

}

.heading-end h5 {

font-size: 16px;

margin: 0;

padding: 25px 0 10px;

font-weight: 600;

}

.info-div p {

font-size: 1.1rem;

padding: 0 10px;

letter-spacing: 0px;

color: #fff;

}

.info-div p a {

color: white;

}

.aspects span {

padding-right: 10px;

}

.aspects ul li {

letter-spacing: 0;

}

.aspects {

padding: 1rem 1.5rem 0;

font-size: 1.25rem;

}





    .product-view .price_breakup {

    width: 32%;

    float: right;

    }

    .hidden-xs {

    display: block !important;}

    .product-view a {

    color: #2b2421;

}

.price_breakup_popup{

    padding-top: 8px;

    position: absolute;

}

    .product-view .price_breakup_popup {

    z-index: 999;

    right: 0px;

    height: 46px;

    position: absolute;

    top: 25px;

}

.price_breakup a {

    font-size: 1.2rem;

    color: #509ec4;

    padding: 1rem;

    font-weight: 700;

    text-transform: capitalize;

}



    ul, ol {

    list-style: none;

    }

    .price_breakup_popup li {

    float: left;

    margin-right: 1px;

    position: relative;

    margin-bottom: -19px;

}

.price_breakup_popup li .breakup_content {

    min-height: 40px;

}

.price_breakup_popup li div {

    float: left;

    background: #fef5e6; 

    padding: 3px 3px;

    width: 100px;

    height: 44px;

    color: #6d1f81;

    font-weight: 600;

    border-style: groove;

    border-width: -37px;

}

.price_breakup_popup li div span {

    display: block;

    font-size: 11px;

    line-height: 16px;

}



.price_breakup_popup .product-plus {

    display: block;

    width: 15px;

    min-height: 16px;

    position: absolute;

    top: -6px;

    right: -9px;

    z-index: 99;

}

.price_breakup_popup li#pb_makingcharge div, .price_breakup_popup li#pb_vat div {

    width: 70px;

}

.price_breakup_popup .product-plus {

   display: block;

    width: 12px;

    min-height: 16px;

    position: absolute;

    top: 16px;

    right: -8px;

    z-index: 96;

}

   /* End Pricebreak =========== */



span.base.ct-title {

    font-size: 21px;

    color: grey;

}

.product-info-main .product-info-price .old-price .price-wrapper .price{

	font-size: 15px;

    color: #808080;

}

.fz-small.text-violet {

    color: grey !important;

    }



    span.fhm {

    font-size: 13px;

}



span.ish {

    /*margin-left: -100px;*/

}
.text-violet{
    color: #7923c7f7 !important;
    font-weight: bold;
}

input#delivery_postcode {

box-shadow: none;



}







.product-info-price span.price {

width: 200px;

float: right;

margin-left: 0!important;

text-align: right!important;

}



button.text-uppercase.pin-check.text-violet {

margin-top: -61px;

height: 46px;

margin-left: 14.3em;

}

div#delivery_postcode-error {

clear: both;

position: absolute;

font-size: 13px;

}

.product-info-main .product-reviews-summary{

    float: none;

}



/*button.p-3.try-on.bg-color-voilet {

    float: right;

    margin-top: -45px;

    margin-right: -14px;

}*/

/*.text-uppercase.pin-check.text-violet {

   border: none;

   background-color: inherit;

   padding: 10px;

   font-size: 16px;

   cursor: pointer;

   display: inline-block;

   margin: 0;

}*/



.description {

display: block;

}

#product-addtocart-button  {

  display: none !important;

}

.page-product-configurable #product-addtocart-button {

display: inline-block !important;

}

.inner-block-newsletter button.p-2 {

background: #ff9947;

height: 37px;

font-size: 1.4rem;

}

.inner-block-newsletter input#newsletter {

height: 37px!important;

}

.align-items-center.d-flex.w-60 {

width: 100%!important;

}

.signUp-txt {

color: #fff!important;

font-size: 20px;

}

.container-fluid.d-flex.justify-content-center.px-5.py-3 {

display: initial!important;

width: 100%;

float: left;

}



/*price breakup css start*/



.product-info-stock-sku {

   padding: 0px!important;

}



.break .price_breakup.a-centers {

   display: inline-block!important;

   width: max-content;

   line-height: 40px;

}

/* price break up css end*/



.location-box {

   height: 46px;

   padding-top: 0!important;

}

.price-final_price.tax.weee span.price-label {

   display: none!important;

}



.coupon.text-gray {

   width: 100%;

   float: left;

}

/*.offer-head.text-orange {
   float: left;
   width: 23%;
}*/
/*.offer-head.text-orange {
float: left;
color: grey !important;
font-size: 13px;
}*/
.offer-head.text-orange{
        /*float: left;*/
        /*width: 23%;*/
        /*margin-left: 70px;*/
        /*margin-top: 2px;*/
        color: grey !important;
        font-size: 13px;
    }

.offer-price.text-orange {
   /*width: 80%;*/
   /*text-overflow: ellipsis!important;*/
   text-overflow: inherit;
   float: left;
   display: table-caption;
   margin-top: 0px;
}





/*span.old-price{

    display: none;

}*/



form#meghraj_custdes_form1 {

    padding-left: 10px;

}

.control.captcha-image .captcha-img{

    margin-left: 25px;

}

.catalog-product-view .form-customer-equiry .form-5 .submitbtn1 button{

    margin-bottom: 10px;

    bottom: -5px;

}



.pd__emi__lg__terms ul li {

    list-style: decimal !important;

}

.emi-personal-loan.active {

    padding-left: 25px;

    width: 100%;

    text-align: justify;

}



.mdf{

    font-size: 13px;

}



.description .d-flex.justify-content-between.m-auto.w-75 a {

    border-radius: 25px;

    width: 25px;

    line-height: 30px;

    height: 25px;

    margin-bottom: 10px;

    background: #fff;

}

.description .fa-facebook-f {

  color: #3b5998;

}

.description .fa-instagram {

  color:#fff;

  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);

    box-shadow: 0px 3px 10px rgba(0,0,0,.25);

}

.description .fa-twitter {

  color: #00acee;

  } 

  .description .fa-youtube {

color: #c4302b;

  }

  .description .fa-whatsapp {

    color: #075e54;

    } 

.description .fa-pinterest {

    color: #c8232c;

    }



.fz-big.desc-head {

font-size: 20px;

}

.fz-medium {

float: left;

text-align: center;

width: 100%;

}



.bd-right {

    border-right: 2px solid;

}



.modal-inner-wrap {

    max-width: 100% !important;

}

.modal-popup.modal-slide._inner-scroll .modal-inner-wrap {

    margin-right: 0;

    margin-left: 0;

}

.modal-popup.modal-slide {

    left: 0;

}

form#meghraj_custdes_form1 {

    padding-right: 10px;

}

.emi-personal-loan.active {

    padding-left: 20px;

    padding-right: 20px;

}

/*** Product Detail Page **/
.grid-child-element.try, .grid-child-element.purchase {
	height: 40px;
    width: 130px;
    border: 1px solid #e8732e;
}

.grid-child-element.try#tryon-add, .grid-child-element.purchase#purchase-plan {
	background: #e8732e;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding-top: 10px;
    border: 1px solid #e8732e;
}

.product-info-main .product-info-price {
    text-align: left;
}

button#tryon-add, button#purchase-plan {
    background: #e8732e;
    border: 0;
}

.product-info-cert {
	border-bottom: 1px solid lightgrey;
	margin-top: 50px;
}

.left_price_break {
	float: left;
    width: 37%;
    border-right: 1px solid lightgrey;
    font-size: 13px;
}

.price_btn {
	color: #000 !important;
	font-weight: 400 !important;
	text-transform: capitalize !important;
}

.catalog-product-view .news_letter button.action.subscribe.primary.p-2.subsri {
    background: #ff9947 !important;
    border-radius: 0 5px 5px 0 !important;
    display: table-cell;
    position: relative;
    float: right;
    top: -40px;
    height: 40px !important;
    border: 0px !important;
}
.catalog-product-view .page-title-wrapper.category-heading {
      margin-top: 0px !important;
}
.catalog-product-view .category-heading {
  background: none !important;
  margin-bottom: 0 !important;
  }
.catalog-product-view .product-info-main .product-info-price {
    margin-bottom: 0 !important;
  }
 .catalog-product-view .grid-child-element.try, .catalog-product-view .grid-child-element.purchase {
    text-transform: uppercase;
    width: 80% !important;
     border-radius: 5px !important;
 }
 .catalog-product-view .grid-container-element {
     width: 100% !important;
 }
 .catalog-product-view .left_price_break {
    width: 43% !important;
 }
 .catalog-product-view .international_Shipment{
 border-bottom: 1px solid lightgrey;
}
.catalog-product-view .cust-btn--inside {
    margin-left: -78px !important;
        padding: 10px 14px !important
}