fieldset.fieldset.create.info {
    margin-left: 15px;
    max-width: 92%;
}
.field.choice.newsletter{
	display: none;
}
.sl-c {
    display: none;
}
fieldset.fieldset.create.account {
    margin-left: 15px;
    max-width: 92%;
}
.actions-toolbar {
    margin-left: 15px;
    max-width: 92%;
}
.action.primary{
	background: #6e2083 !important;
    border: 1px solid #6e2083 !important;
}
span.base.ct-title {
    font-size: 1.5rem;
    margin-left: 55px;
}
.fieldset {
    margin: 0 0 -15px;
}

.block.social-login-authentication-channel.account-social-login {
    display: none;
}
.category-heading{
	background: #fff;
	display: none;
}
.abs-account-blocks .block-title > strong, .abs-account-blocks .block-title > span, .account .legend > strong, .account .legend > span, .form-giftregistry-search .legend > strong, .form-giftregistry-search .legend > span, .block-giftregistry-results .block-title > strong, .block-giftregistry-results .block-title > span, .block-giftregistry-shared-items .block-title > strong, .block-giftregistry-shared-items .block-title > span, .block-wishlist-search-form .block-title > strong, .block-wishlist-search-form .block-title > span, .block-wishlist-search-results .block-title > strong, .block-wishlist-search-results .block-title > span, .multicheckout .block-title > strong, .multicheckout .block-title > span, .multicheckout .block-content .title > strong, .multicheckout .block-content .title > span, .customer-review .review-details .title > strong, .customer-review .review-details .title > span, .paypal-review .block .block-title > strong, .paypal-review .block .block-title > span, .account .column.main .block:not(.widget) .block-title > strong, .account .column.main .block:not(.widget) .block-title > span, .multicheckout .block-title > strong, .multicheckout .block-title > span, .magento-rma-guest-returns .column.main .block:not(.widget) .block-title > strong, .magento-rma-guest-returns .column.main .block:not(.widget) .block-title > span, [class^='sales-guest-'] .column.main .block:not(.widget) .block-title > strong, [class^='sales-guest-'] .column.main .block:not(.widget) .block-title > span, .sales-guest-view .column.main .block:not(.widget) .block-title > strong, .sales-guest-view .column.main .block:not(.widget) .block-title > span{
/*	font-size: 1.2rem;
    font-weight: 600;
    color: #6e2083;
    margin-left: 115px;*/
    font-size: 18px !important;
}
form#form-validate {
    /*margin-top: 20px;*/
    /*box-shadow: 0 0 15px 0px;*/
    padding-bottom: 55px;
}
.fieldset > .legend{
	margin-top: 10px;
}

.actions-toolbar > .primary .action:last-child, .actions-toolbar > .secondary .action:last-child{
    margin-top: 50px;
}

.title {
    display: none;
}

form#newsletter-validate-detail {
    width: 250px;
    max-width: 100%;
}
.subsri {
    margin-top: -60px;
    margin-left: 250px;
    height: 32px;
    font-size: 15px !important;
}
.inner-block-newsletter input{
	width: 100%;
}

.label {
    display: none;
}
div.mage-error[generated] {
    font-size: 0.9rem;
}

.form-create-account .fieldset.create.account:after{
    display: none;
}

.verify{
    float: right;
    font-weight: 600;
    color: #6e2083;
}

button#email-verify-submit {
    background: none;
    color: #6e2182;
    border: none;
    float: right;
    margin: -6px 0 12px;
    padding: 0;
    text-transform: none;
}
button#otp-verify-submit {
    background: none;
    color: #6e2182;
    border: none;
    float: right;
    margin: -6px 0 12px;
    padding: 0;
    text-transform: none;
}
div#password-strength-meter {
    text-align: left;
    display: none;
}
#user_otp .control {
    display: flex;
}

#user_otp .control .form-control {
    width: 40%;
}

#user_otp .control .form-control .verify {
    margin-left: 10px;
    height: 40px;
}

.customer-account-create .form-create-account .fieldset .label {
    display: none;
}
.field.password .control {
    display: block;
}
div.mage-error[generated] {
    padding-left: 5px;
    color: #e02b27;
    padding-right: 5px;
    font-size: 0.8em;
}

@media (min-width: 480px) {
.right_user_mobile {
    margin-top: 10px;
    float: right;
}
}