.category-heading{
	margin-top: -70px !important;
}
.products {
    margin: 5px 0 !important;
}
.pages strong.page{
	background: #6F2D91 !important;
	color: #fff !important;
}

li.page-item a {
    color: #fff !important;
}

.pages-item-next{
	top: 5px !important;
}
.pages .pages-items {
	left: -86px;
}

a.link.next {
    color: #000;
    font-size: 17px;
    font-weight: 500;
}

span.base.ct-title {
    font-size: 17px;
    font-weight: 600;
}

.dort_option{
        height: 42px;
}
.sorfilter, .filtersort{
    padding: 0.8em;
}

.headsapn{
    font-size: 16px;
}

.search-autocomplete{
    margin-top:-15px !important;
}

div#amscroll-navbar {
    right: 1% !important;
    bottom: 8% !important;
}

    .similar_product_list {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}
.viewed_ {
    overflow-x: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 3;
}
.similar_product_title {
    display: block;
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    text-decoration: underline;
}
.similar_popup_close_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    font-size: 15px;
    line-height: 27px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.tcb-product-slider .carousel-control {
  width: 5%;
}
.tcb-product-slider {
    width: 90%;
    margin: 0 auto 30px auto;
}

@media (min-width: 768px) {
    .page-products .columns {
    padding-top: 0;
    position: relative;
    z-index: 5;
}
}

.tcb-product-item a {
  color: gray;
}
.tcb-product-item a:hover {
  text-decoration: none;
}
.tcb-product-item .tcb-hline {
  margin: 10px 0;
  height: 1px;
  background: #ccc;
}
@media all and (max-width: 768px) {
  .tcb-product-item {
    margin-bottom: 30px;
  }
}
.e-left {
  position: absolute;
  left: -15px;
}
.e-right {
  position: absolute;
  right: -15px;
}
.slick-arrow {
  background-color: transparent !important;
  top: 40% !important;
}
.tcb-product-photo {
  text-align: center;
  background: #fff;
   padding: 5px;
    border: 1px solid #dcdcdc;
    display: block;
}
.similar_product_list .product-name {
    font-size: 14px;
    padding: 5px;
    color: grey;
    border-top: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.tcb-product-photo img {
  width: 100%;
  display: inline-block;
}
.tcb-product-info {
  background: #f0f0f0;
  padding: 15px;
}
.carousel-control.left {
  background-image: none;
}
.carousel-control.right {
  background-image: none;
}
.tcb-product-title h4 {
  margin-top: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tcb-product-rating {
  color: #acacac;
}
.tcb-product-rating .active {
  color: #FFB500;
}
.tcb-product-price {
 font-size: 12px !important;
color: #808080;
font-weight: 800 !important;
}
.slick-slide {
  margin-bottom: 15px !important;
  margin-top: 5px !important;
}

.loader_section {
  display: none;
    align-items: center;
    height: 300px;
    justify-content: center;
}

@keyframes ldio-bdvd362dqmv-o {
    0%    { opacity: 1; transform: translate(0 0) }
   49.99% { opacity: 1; transform: translate(43.2px,0) }
   50%    { opacity: 0; transform: translate(43.2px,0) }
  100%    { opacity: 0; transform: translate(0,0) }
}
@keyframes ldio-bdvd362dqmv {
    0% { transform: translate(0,0) }
   50% { transform: translate(43.2px,0) }
  100% { transform: translate(0,0) }
}
.ldio-bdvd362dqmv div {
  position: absolute;
  width: 43.2px;
  height: 43.2px;
  border-radius: 50%;
  top: 32.400000000000006px;
  left: 10.8px;
}
.ldio-bdvd362dqmv div:nth-child(1) {
  background: #6e2083;
  animation: ldio-bdvd362dqmv 1s linear infinite;
  animation-delay: -0.5s;
}
.ldio-bdvd362dqmv div:nth-child(2) {
  background: #fcba66;
  animation: ldio-bdvd362dqmv 1s linear infinite;
  animation-delay: 0s;
}
.ldio-bdvd362dqmv div:nth-child(3) {
  background: #6e2083;
  animation: ldio-bdvd362dqmv-o 1s linear infinite;
  animation-delay: -0.5s;
}
.loadingio-spinner-dual-ball-qh0gwzg30jb {
  width: 108px;
  height: 108px;
  margin-bottom:80px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-bdvd362dqmv {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-bdvd362dqmv div { box-sizing: content-box; }
