#exTab2.pages strong.page{
	background: #6F2D91 !important;
	color: #fff !important;
}

li.page-item a {
    color: #fff !important;
}
.breadcrumbs{
	display: block !important;
}
.main {
    margin-top: -60px !important;
}
.ft {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 35px;
}
.products {
    margin: 10px 0 !important;
}
.pages-item-next{
	top: 5px !important;
}

a.link.next {
    color: #000;
    font-size: 17px;
    font-weight: 500;
}
span.base.ct-title {
    font-size: 17px;
    font-weight: 600;
}
.breadcrumbs ul>li>a {
    color: #6d2080;
}

.pages .pages-items {
	left: -86px;
}

.catalog-category-view .ln_slider_container {
    width: calc(90%);
    margin: 0;
    padding: 0px 6px 0px;
}
.catalog-category-view .ui-slider-horizontal {
    background:  #6d2081;
    height: 8px;
}

.catalog-category-view #ln_slider_text_price {
    margin-top: 15px;
    color:#6f2d91;
}

.catalog-category-view #ln_slider_price .ui-slider-handle {
    background: #fff;
    border: 1px solid #ccc;
    padding:  0;
    border-radius: 30px;
    width: 15px;
    height: 15px;
    top: -3px;
}

.search-autocomplete{
    margin-top: 18px !important;
}


.price{
    float: none;
}
.close_clear{
        font-size: 2em;
}

.amscroll-navbar{
    bottom: 8% !important;
    right: 1% !important;
}
/*a.cat_li.active.show {
    padding: 0px 5px;
}*/

.price-container .price{
    font-size: 13px;
    color: grey;
   }
.fh {
    font-size: 12px;
}
.product-reviews-summary .reviews-actions {
    display: none;
}
.product-name, .price, .rating {
    text-align: left !important;
}
.product-name, .price-rating, .offer-price, .rating {
    padding: 0 10px 5px !important;
}
.product-name, .offer-price {
    display: inline-block;
width: 100%;
white-space: nowrap;
overflow: hidden !important;
text-overflow: ellipsis;
color: grey;
}
.old-price .price {
    text-decoration: line-through;
}
.rating-summary .rating-result:before, .rating-summary .rating-result > span:before {
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    color: #f6af35;
}

.text-left .rating {
height: 24px;
}

.category-heading{
    width: 100% !important;
}

.category-page-header .page-title-wrapper {
    width: 100% !important
}

