main#maincontent {
   margin: 20px;
   padding: 8px;
}

.page-title-wrapper.category-heading {
   text-align: center;
   background-image: linear-gradient(to right top, #ecd0f4, #ead8f5, #e9e0f4, #eae7f1, #eeeeee);
}
.field.note {
   font-size: 1.4rem;
   text-align: center;
}
span.base.ct-title {
   font-weight: 600;
}
button.action.submit.primary {
   background-color: #6e2083;
   border: 1px solid #6e2083;
   letter-spacing: 1px;
   font-size: 1.6rem;
}

button:hover, button:active {
background:  #6e2083 !important;
}