.cart{
	background-color: #fff;
}
.cart-summary .checkout-methods-items .action.primary.checkout{
	text-transform: uppercase;
}
.action.primary{
	background:#6d2080;
	border:1px solid #6d2080;
}
.cart-container .form-cart .actions.main{
    display: none;
}
#block-shipping {
    display: none;
}
.cart-gift-item {
    display: none;
}
.cart.table-wrapper .cart > .item{
	/*border-bottom: 1px solid #cccccc; */*/
}
.cart.table-wrapper {
    border-top: 1px solid #fff;
    margin-left: 15px;
    width: 92%;
    border: 1px solid #ccc;
}

.fieldset > .field > .label, .fieldset > .fields > .field > .label{
	display: none;
    /*font-size: 20px;
    float: right;
    margin-right: 15px;
    color: #6d2080;*/
}
input#coupon_code{
	width: 50%;
    margin-left: 15px;
    border: 2px solid #6d2080;
}
strong#block-discount-heading {
    display: none;
}


button.applycode {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    font-size: 1.7em;
    color: #6d2080;
    margin-top: -80px;
    margin-left: 170px;

}

.title {
    display: none;
}

form#newsletter-validate-detail {
    width: 250px;
    max-width: 100%;
}
.subsri {
    margin-top: -60px;
    margin-left: 250px;
    height: 32px;
    font-size: 15px !important;
}
.inner-block-newsletter input{
	width: 100%;
}

.label {
    display: none;
}

.detail-title {
    display: flex;
    justify-content: center;
}

.detail-title:after {
        -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5rem;
    line-height: 20px;
    color: #858585;
    content: '\e622';
    font-family: 'luma-icons';
    margin: 0 0 0 5px;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.cart.table-wrapper .cart > .item:last-child { 
    border-bottom: none !important; 
}
.detail-title:hover:after {
    color: #000;
}

.view_more_details .active .detail-title:after {
    content: '\e621';
}

.view_more_container {
    background: #eee;
}
.view_more.actions-toolbar {
    padding: 5px 0 !important;
}
.cart.table-wrapper .actions-toolbar > .action-edit, .page-title-wrapper.category-heading {
    display: none;
}
.cart.table-wrapper .actions-toolbar {
    position: initial;
}
.cart.table-wrapper .actions-toolbar > .action-delete {

    right: 10px;
    top: 10px;
}
.cart.table-wrapper .actions-toolbar > .action-delete::before {
    content: '\e616';
}

.cart.table-wrapper .cart.items.data.table {
    margin-bottom: 0px !important;
}
.cart-container .checkout-methods-items .item {
padding-left: 10px;
padding-right: 10px;
}
.checkout-methods-items .item .action.primary.checkout {
    width: 100%;
    text-transform: uppercase;
}
.cart-container .block {
    margin-bottom: 0px;
}
.cart_count.page-title-wrapper.category-heading {
    display: block;
    padding: 1.3em;
    color: #000;
    background: #eee;
    text-align: center;
}
.cart_count.page-title-wrapper.category-heading h3 {
    margin-bottom: 0;
}

