<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mage2\Inquiry\Api\Data\InquirySearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />

    <preference for="Mage2\Inquiry\Api\GetInquiryByIdentifierInterface" type="Mage2\Inquiry\Model\GetInquiryByIdentifier" />
    <preference for="Mage2\Inquiry\Api\Data\InquiryInterface" type="Mage2\Inquiry\Model\Inquiry" />
    <preference for="Mage2\Inquiry\Api\InquiryRepositoryInterface" type="Mage2\Inquiry\Model\InquiryRepository" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="inquiry_listing_index_data_source" xsi:type="string">Mage2\Inquiry\Model\ResourceModel\Inquiry\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Mage2\Inquiry\Model\ResourceModel\Inquiry\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">mage2_inquiry</argument>
            <argument name="eventPrefix" xsi:type="string">mage2_inquiry_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">inquiry_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Mage2\Inquiry\Model\ResourceModel\Inquiry</argument>
        </arguments>
    </type>
    <virtualType name="InquiryGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Mage2\Inquiry\Api\Data\InquiryInterface" xsi:type="string">Mage2\Inquiry\Api\InquiryRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Mage2\Inquiry\Api\Data\InquiryInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">mage2_inquiry</item>
                    <item name="identifierField" xsi:type="string">inquiry_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Mage2\Inquiry\Api\Data\InquiryInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Mage2\Inquiry\Model\Api\SearchCriteria\CollectionProcessor\InquiryFilterProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor">
        <arguments>
            <argument name="customFilters" xsi:type="array">
                <item name="store_id" xsi:type="object">Mage2\Inquiry\Model\Api\SearchCriteria\CollectionProcessor\FilterProcessor\InquiryStoreFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Mage2\Inquiry\Model\Api\SearchCriteria\InquiryCollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Mage2\Inquiry\Model\Api\SearchCriteria\CollectionProcessor\InquiryFilterProcessor</item>
                <item name="sorting" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Mage2\Inquiry\Model\InquiryRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Mage2\Inquiry\Model\Api\SearchCriteria\InquiryCollectionProcessor</argument>
        </arguments>
    </type>
</config>