<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
 	<preference for="Retailinsights\ConfigProducts\Api\ConfigProductInterface" type="Retailinsights\ConfigProducts\Model\CustomConfigProducts" />
 	<preference for="Magento\Catalog\Block\Product\View\Options\Type\Select" type="Retailinsights\ConfigProducts\Block\Product\View\Options\Type\CustomSelect" />
 	<preference for="Magento\Quote\Model\Quote\Item\Processor" type="Retailinsights\ConfigProducts\Model\Quote\Item\CustomProcessor" />
 	 <type name="Magento\Directory\Controller\Currency\SwitchAction">
        <plugin name="retailinsights_configProducts_directory_currency_switch_after_plugin" 
                type="Retailinsights\ConfigProducts\Plugin\Magento\Directory\Controller\Currency\SwitchAfterAction"
                sortOrder="12" 
                disabled="false"/>
    </type>
</config>