<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/system_file.xsd">
    <system>
        <tab id="magebees" translate="label" sortOrder="100">
            <label>Magebees</label>
        </tab>
        <section id="magebeesproducts" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Import/Export Products</label>
            <tab>magebees</tab>
            <resource>Magebees_Products::products_config</resource>
                <!-- General Configuration Start -->
                <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>General</label>
                    <field id="multi_delimiter" translate="label" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Multi Select Attribute Separator</label>
                        <depends>
                            <field id="multi_delimiter_id">1</field>
                        </depends>
                        <comment><![CDATA[Change Multi Select Attribute Separator value for Import and Export. Default value is Comma(,)]]></comment>
                    </field>
                </group>
                <!-- General Configuration End -->
				<group id="setting" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Import/Export Products</label>
			    </group>
			   	<group id="support" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Info</label>
					<field id="style" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1"> 
						<label>Info</label> 
						<frontend_model>Magebees\Products\Block\Adminhtml\System\Config\Support</frontend_model>
					</field>
				</group>
        </section>
    </system>
</config>