<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <preference for="Magento\Checkout\Controller\Sidebar\RemoveItem" type="Vaibhav\Retail\Controller\Sidebar\RemoveItem" />
   <type name="Magento\Directory\Controller\Currency\SwitchAction">
        <plugin name="Vaibhav_retail_directory_currency_switch_plugin" 
                type="Vaibhav\Retail\Plugin\Magento\Directory\Controller\Currency\SwitchAction"
                sortOrder="10" 
                disabled="false"/>
    </type>
    <type name="Magento\Directory\Controller\Currency\SwitchAction">
        <plugin name="Vaibhav_retail_directory_currency_switch_after_plugin" 
                type="Vaibhav\Retail\Plugin\Magento\Directory\Controller\Currency\SwitchAfterAction"
                sortOrder="11" 
                disabled="false"/>
    </type>
     <preference for="Magento\Catalog\Model\Product\Image" type="Vaibhav\Retail\Model\Product\Image" />
</config>