<!--@subject Video Shoppiong @-->
 
{{template config_path="design/email/header_template"}}
<table>
		<tr class="email-intro">
			<td>
			<b>Email:</b> {{trans "%email" email=$data.email}}
			</td>
		</tr>
		<tr class="email-intro">
			<td>
			<b>Name:</b> {{trans "%name" name=$data.name}}
			</td>
		</tr>
		<tr class="email-intro">
			<td>
			<b>Mobile:</b> {{trans "%mobile" mobile=$data.mobile}}
			</td>
		</tr>
		<tr class="email-intro">
			<td>
			<b>Language:</b> {{trans "%language" language=$data.language}}
			</td>
		</tr>
		<tr class="email-intro">
			<td>
			<b>Time:</b> {{trans "%time" time=$data.time}}
			</td>
		</tr>
 </table>
 
{{template config_path="design/email/footer_template"}}