<!--@subject Customize Design @-->

{{template config_path="design/email/header_template"}}

<table style="width:100%;">
		<tr class="email-intro">
			<td>
			<b>Email:</b> {{trans "%email" email=$data.email}}
			</td>
		</tr>
		<tr class="email-intro">
			<td>
			<b>Name:</b> {{trans "%name" name=$data.name}}
			</td>
		</tr>
		<tr class="email-intro">
			<td>
			<b>Mobile:</b> {{trans "%mobile" mobile=$data.mobile}}
			</td>
		</tr>
		<tr class="email-intro">
			<td>
			<b>Product Sku:</b> {{trans "%productsku" productsku=$data.productsku}}
			</td>
		</tr>
			<tr class="email-intro">
			<td>
			<b>Budget:</b> {{trans "%budget" budget=$data.budget}}
			</td>
		</tr>
		<tr class="email-intro">
			<td>
			<b>Details:</b> {{trans "%details" details=$data.details}}
			</td>
		</tr>
 </table>
{{template config_path="design/email/footer_template"}}