<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Vaibhav_GoldRate::Goldrate" title="Goldrate" sortOrder="10">
					<resource id="Vaibhav_GoldRate::Goldrate_save" title="Save Goldrate" sortOrder="10"/>
					<resource id="Vaibhav_GoldRate::Goldrate_delete" title="Delete Goldrate" sortOrder="20"/>
					<resource id="Vaibhav_GoldRate::Goldrate_update" title="Update Goldrate" sortOrder="30"/>
					<resource id="Vaibhav_GoldRate::Goldrate_view" title="View Goldrate" sortOrder="40"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
