<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Als_Testimonials::testimonial_content" title="Stock Notify" 
             module="Als_Testimonials" sortOrder="20" 
             resource="Als_Testimonials::testimonials" />
        <add id="Als_Testimonials::manage_testimonials" title="Stock Notify" 
             module="Als_Testimonials" sortOrder="2" parent="Als_Testimonials::testimonial_content" 
             action="testimonials/testimonials/index" resource="Als_Testimonials::manage_testimonials" />
      <!-- <add id="Als_Testimonials::add_testimonials" title="Product Enquiry" 
             module="Als_Testimonials" sortOrder="3" parent="Als_Testimonials::testimonial_content" 
             action="testimonials/testimonials/new" resource="Als_Testimonials::add_testimonials" /> -->
        <add id="Als_Testimonials::configuration" title="Configurations" 
             module="Als_Testimonials" sortOrder="3" parent="Als_Testimonials::testimonial_content" 
             action="adminhtml/system_config/edit/section/testimonials" 
             resource="Als_Testimonials::configuration" />
    </menu>
</config>

