<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="FME_Extensions::fmeextensions" title="FME Extensions" sortOrder="101">
                <resource id="FME_NoFollowIndex::main_menu" title="No Follow Index" sortOrder="100">
                    <resource id="FME_NoFollowIndex::nofollowindex_configuration"
                      title="No Follow Index Configuration"
                      sortOrder="22" />
                </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="FME_NoFollowIndex::nofollowindex_config"
                              title="No Follow Index Config"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
