<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
      <nofollowindex>
        <nofollowindex_general>
          <nofollowindex_general_enable>1</nofollowindex_general_enable>
        </nofollowindex_general>
        <nofollowindex_catprodcms>
          <nofollowindex_catprodcms_category>1</nofollowindex_catprodcms_category>
          <nofollowindex_catprodcms_product>1</nofollowindex_catprodcms_product>
          <nofollowindex_catprodcms_cms>1</nofollowindex_catprodcms_cms>
        </nofollowindex_catprodcms>
      </nofollowindex>
    </default>
</config>
