<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <type name="Magento\Catalog\Model\Product">
      <plugin name="pluginAddProductData" type="FME\NoFollowIndex\Plugin\ProductPluginAddData" sortOrder="10" disabled="false"/>
  </type>
  <type name="Magento\Catalog\Model\Category">
      <plugin name="pluginAddCategoryData" type="FME\NoFollowIndex\Plugin\CategoryPluginAddData" sortOrder="11" disabled="false"/>
  </type>
  <type name="Magento\Framework\View\Page\Config">
      <plugin name="changenofollowindex" type="FME\NoFollowIndex\Plugin\ChangeNoFollowIndex" sortOrder="12"/>
  </type>
</config>
