<?xml version="1.0"?>
<!--
/**
 * MageGadgets Extensions
 * Price Manager Extension
 * 
 * @package    		Magegadgets_Pricemanager
 * @copyright  		Copyright (c) 2017 MageGadgets Extensions (https://www.magegadgets.com/)
 * @contactEmail   	support@magegadgets.com
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
		 
		
        <add id="Magegadgets_Pricemanger::magegadgets" title="Mage Gadgets" module="Magegadgets_Pricemanger" sortOrder="20" resource="Magegadgets_Pricemanger::magegadgets"/>
		
		<add id="Magegadgets_Pricemanger::magegadgets_settings" title="Price &amp; Stone Manager" module="Magegadgets_Pricemanger" sortOrder="10"  parent="Magegadgets_Pricemanger::magegadgets" resource="Magegadgets_Pricemanger::magegadgets_settings" />
		
		<add id="Magegadgets_Pricemanger::personalizejewellery_settings" title="Personalize Your Jewellery" module="Magegadgets_Pricemanger" sortOrder="20"  parent="Magegadgets_Pricemanger::magegadgets" resource="Magegadgets_Pricemanger::personalizejewellery_settings" />
		
        <add id="Magegadgets_Pricemanger::index" title="Price Manager" module="Magegadgets_Pricemanger" sortOrder="10" action="pricemanger/index/index" resource="Magegadgets_Pricemanger::index" parent="Magegadgets_Pricemanger::magegadgets_settings"/>
		
		<add id="Magegadgets_Pricemanger::magegadgets_additionalform" title="Additional Form" module="Magegadgets_Pricemanger" sortOrder="30"  parent="Magegadgets_Pricemanger::magegadgets" resource="Magegadgets_Pricemanger::magegadgets_additionalform" />
				
		<add id="Magegadgets_Pricemanger::stoneimporter" title="Stone Importer" module="Magegadgets_Pricemanger" sortOrder="20" action="adminhtml/system_config/edit/section/stoneimporter" resource="Magegadgets_Pricemanger::stoneimporter" parent="Magegadgets_Pricemanger::magegadgets_settings"/>
		
		<add id="Magegadgets_Pricemanger::stonemaster" title="Stone Master" module="Magegadgets_Pricemanger" sortOrder="30" action="stonemanager/stonemanager" resource="Magegadgets_Pricemanger::stonemaster" parent="Magegadgets_Pricemanger::magegadgets_settings"/>
		
		
		
    </menu>
</config>