<?xml version="1.0"?>
 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                <resource id="Als_Testimonials::testimonials" title="Testimonials" 
                    sortOrder="100">
                    <resource id="Als_Testimonials::add_testimonials" title="Add Testimonials" 
                        sortOrder="1" />
                    <resource id="Als_Testimonials::manage_testimonials" title="Manage Testimonials" 
                        sortOrder="2" />
                    <resource id="Als_Testimonials::configuration" title="Configurations" 
                       sortOrder="3" />
                </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Als_Testimonials::system_config"
                                      title="Testimonials" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
